<div class="row">
  <div class="col-md-3">
    <h3>Dict list</h3>
    <%= link_to 'new_dict', new_dict_path, class: 'btn btn-danger' %>
    <hr>
    <div class="well">
      <%= search_form_for(@q) do |f| %>
        <%= f.input :category_or_title_cont, 
                    as: :search,
                    label: 'category_or_title_cont',
                    required: false %>
        <%= f.button :submit, 'search' %>
      <% end %>
    </div>
    <%= render partial: 'shared/click_to_edit' %>
  </div>
  <div class="col-md-9">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= sort_link(@q, :category, t('category')) %></th>
          <th><%= sort_link(@q, :title, t('title')) %></th>
          <th><%= sort_link(@q, :code, t('code')) %></th>
          <th><%= t('operations') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @dicts %>
      </tbody>
    </table>
  </div>
</div>