<div class="col-md-6">
  <%= simple_form_for @person do |f| %>
    <%= f.input :chinese_name  %></p>
    <%= f.input :english_name  %></p>
    <%= f.input :employee_number  %></p>
    <%= f.input :gender_id, collection: Dict.selected_genders  %></p>
    <%= f.input :department_id, collection: Dict.selected_deps  %></p>
    <%= f.input :grade  %></p>
    <%= f.input :charge_rate  %></p>
    <%= f.input :employeement_date, as: :date, html5: true  %></p>
    <%= f.input :address  %></p>
    <%= f.input :postalcode  %></p>
    <%= f.input :mobile  %></p>
    <%= f.input :tel  %></p>
    <%= f.input :extension  %></p>
    <%= f.input :GMU_id, collection: Dict.selected_gmus  %></p>
    <%= f.input :status_id, collection: Dict.selected_person_status  %></p>
    <%= f.button :submit %>
  <% end %>
  <%= link_to 'Back', people_url %>
</div>