<div class="row">
  <div class="col-md-10">
    <h1>Person List</h1>
  </div>
  <div class="col-md-2">
    <%= link_to 'New person', new_person_path, class: 'btn btn-danger' %>
  </div>
  <div class="well col-md-12">
    <%= render 'search' %>
  </div>
</div>

<%= paginate @people %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :employee_number) %></th>
      <th><%= sort_link(@q, :chinese_name) %></th>
      <th><%= sort_link(@q, :english_name) %></th>
      <th><%= sort_link(@q, :charge_rate) %></th>
      <th><%= sort_link(@q, :grade) %></th>
      <th colspan="2">Operation</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.employee_number, person %></td>
        <td><%= person.chinese_name%></td>
        <td><%= person.english_name%></td>
        <td><%= person.charge_rate%></td>
        <td><%= person.grade %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: {:confirm => 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @people %>