<div class="row">
  <div class="col-md-10">
    <h1>Person List</h1>
  </div>
  <div class="col-md-2">
    <%= link_to 'New person', new_person_path, class: 'btn btn-danger' %>
  </div>
  <div class="well col-md-12">
    <%= render 'search' %>
  </div>
</div>

<%= paginate @people %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :employee_number) %></th>
      <th><%= sort_link(@q, :chinese_name) %></th>
      <th><%= sort_link(@q, :english_name) %></th>
      <th><%= sort_link(@q, :charge_rate) %></th>
      <th><%= sort_link(@q, :grade) %></th>
      <th colspan="2">Operation</th>
    </tr>
  </thead>
  <tbody>
    <%= render @people %>
  </tbody>
</table>
<%= paginate @people %>