<%= simple_form_for @ufafee do |f| %>
  <div class="col-md-6">
    <%= f.input :project_id, collection: Project.select_projects %>
    <%= f.input :period_id, collection: Period.all %>
    <%= f.input :service_UFA  %>
    <%= f.input :expense_UFA  %>
  </div>
  <div class="col-md-6">
    <%= f.input :number, disabled: true  %>
    <%= f.input :amount, disabled: true  %>
  </div>
  <div class="col-md-12">
    <%= f.button :submit  %>
  </div>
<% end %>
