<h1>Listing ufafees</h1>
<%= link_to 'New ufafee', :action => 'new' %>
<%= search_form_for @q do |f| %>
  <%= f.input :number_cont,
              required: false %>
  <%= f.button :submit %>
<% end %>
<%= paginate @ufafees %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :project_job_code )%></th>
      <th><%= sort_link(@q, :period_number )%></th>
      <th><%= sort_link(@q, :created_on) %></th>
      <th><%= sort_link(@q, :updated_on) %></th>
      <th><%= sort_link(@q, :number) %></th>
      <th><%= sort_link(@q, :amount) %></th>
      <th><%= sort_link(@q, :service_UFA) %></th>
      <th><%= sort_link(@q, :expense_UFA) %></th>
      <th colspan="2">Operation</th>
    </tr>
  </thead>
  <tbody>
    <% for ufafee in @ufafees %>
      <tr>
        <td><%= ufafee.project.job_code %></td>
        <td><%= ufafee.period.number %></td>
        <td><%= ufafee.created_on %></td>
        <td><%= ufafee.updated_on %></td>
        <td><%= ufafee.number %></td>
        <td><%= ufafee.amount %></td>
        <td><%= ufafee.service_UFA %></td>
        <td><%= ufafee.expense_UFA %></td>
        <td><%= link_to 'Edit', edit_ufafee_path(ufafee) if ufafee.project.status.title == 'Active'%></td>
        <td><%= link_to 'Destroy', ufafee, method: :delete, data: {confirm: 'Are you sure?'} if ufafee.project.status.title == 'Active'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @ufafees %>