<h1>Listing deductions</h1>
<div>
  <%= link_to 'New', new_deduction_path %>
</div>
<%= paginate @deductions %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Job code</th>
      <% for column in Deduction.content_columns %>
        <th><%= column.human_name %></th>
      <% end %>
      <th colspan="3">Operation</th>
    </tr>
  </thead>
  <tbody>
    <% @deductions.each do |deduction| %>
      <tr>
        <td><%= link_to deduction.project.job_code, deduction.project if deduction.project %></td>    
        <% for column in Deduction.content_columns %>
          <td><%=h deduction.send(column.name) %></td>
        <% end %>
        <td><%= link_to 'Show', deduction %></td>
        <td><%= link_to 'Edit', edit_deduction_path(deduction) if deduction.project &&  deduction.project.status.title == 'Active' %></td>
        <td><%= link_to 'Destroy', deduction, method: :delete, data: {confirm: 'Are you sure?'} if deduction.project && deduction.project.status.title == 'Active'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @deductions %>