<h1>Listing deductions</h1>
<div>
  <%= link_to 'New', new_deduction_path %>
</div>
<%= paginate @deductions %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :project_job_code) %></th>
      <th><%= sort_link(@q, :period_number) %></th>
      <th><%= sort_link(@q, :created_on) %></th>
      <th><%= sort_link(@q, :updated_on) %></th>
      <th><%= sort_link(@q, :service_PFA) %></th>
      <th><%= sort_link(@q, :service_UFA) %></th>
      <th><%= sort_link(@q, :service_billing) %></th>
      <th><%= sort_link(@q, :expense_PFA) %></th>
      <th><%= sort_link(@q, :expense_UFA) %></th>
      <th><%= sort_link(@q, :expense_billing) %></th>
      <th colspan="3">Operation</th>
    </tr>
  </thead>
  <tbody>
    <% @deductions.each do |deduction| %>
      <tr>
        <td><%= link_to deduction.project.job_code, deduction.project if deduction.project %></td>    
        <td><%= deduction.created_on %></td>
        <td><%= deduction.updated_on %></td>
        <td><%= deduction.service_PFA %></td>
        <td><%= deduction.service_UFA %></td>
        <td><%= deduction.service_billing %></td>
        <td><%= deduction.expense_PFA %></td>
        <td><%= deduction.expense_UFA %></td>
        <td><%= deduction.expense_billing %></td>
        <td><%= link_to 'Show', deduction %></td>
        <td><%= link_to 'Edit', edit_deduction_path(deduction) if deduction.project &&  deduction.project.status.title == 'Active' %></td>
        <td><%= link_to 'Destroy', deduction, method: :delete, data: {confirm: 'Are you sure?'} if deduction.project && deduction.project.status.title == 'Active'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @deductions %>