<tr>
  <td><%= link_to personalcharge.project.job_code, personalcharge.project if personalcharge.project %></td>
  <td><%= personalcharge.person.english_name if personalcharge.person%></td>
  <td><%= personalcharge.period.number if personalcharge.period %></td>
  <td><%= personalcharge.hours %></td>
  <td><%= personalcharge.service_fee %></td>
  <td><%= personalcharge.project.service_PFA if personalcharge.project %></td>
  <td><%= personalcharge.PFA_of_service_fee %></td>
  <td><%= personalcharge.reimbursement %></td>
  <td><%= personalcharge.meal_allowance %></td>
  <td><%= personalcharge.travel_allowance %></td>
  <td><%= personalcharge.created_on.to_date %></td>
  <td><%= personalcharge.updated_on.to_date %></td>
  <td><%= link_to 'Edit', edit_personalcharge_path(personalcharge) if personalcharge.project && personalcharge.project.status && personalcharge.project.status.title == 'Active'%></td>
  <td><%= link_to 'Destroy', personalcharge, method: :delete, data: {confirm: 'Are you sure?'} if personalcharge.project && personalcharge.project.status && personalcharge.project.status.title == 'Active'%></td>
</tr>