<tr>
  <td><%= link_to personalcharge.project.job_code, personalcharge.project if personalcharge.project %></td>
  <td><%= personalcharge.person.english_name %></td>
  <td><%= personalcharge.period.number%></td>
  <% for column in Personalcharge.content_columns %>
    <td><%= personalcharge.send(column.name) %></td>
  <% end %>
  <td><%= link_to 'Show', personalcharge %></td>
  <td><%= link_to 'Edit', edit_personalcharge_path(personalcharge) if personalcharge.project.status.title == 'Active'%></td>
  <td><%= link_to 'Destroy', personalcharge, method: :delete, data: {confirm: 'Are you sure?'} if personalcharge.project.status.title == 'Active'%></td>
</tr>