<%= search_form_for(@q, html: { class: 'form-horizontal' }, 
    wrapper: :horizontal_form,
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean}) do |f| %>
  <div class="col-md-4">
    <%= f.input :user_english_name_eq, 
                collection: User.pluck(:english_name),
                required: false,
                label: 'User Select' %>
    <%= f.input :user_english_name_cont, 
                required: false,
                label: 'User Cont' %>
    <%= f.input :state_eq, 
                collection: ["pending", "submitted", "approved", "denied"],
                required: false,
                label: 'State' %>
  </div>
  <div class="col-md-4">
    <%= f.input :project_job_code_eq, 
                collection: Project.order(:job_code).pluck(:job_code),
                required: false,
                label: 'Project Select' %>
    <%= f.input :project_job_code_cont, 
                required: false,
                label: 'Project Cont' %>
  </div>
  <div class="col-md-4">
  <%= f.input :period_number_gteq, 
              collection: Period.period_number,
              required: false,
              label: 'Period From' %>
  <%= f.input :period_number_lteq, 
              collection: Period.period_number,
              required: false,
              label: 'Period To' %>
  </div>
  <div class="col-md-12">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>