<div class="col-md-10">
  <h1>Personalcharge List</h1>
</div>
<div class="col-md-2">
  <%= link_to 'New Personalcharge', new_personalcharge_path, class: 'btn btn-danger' %>
</div>
<div class="row well col-md-12">
  <%= render 'search' %>
</div>

<div class="col-md-12">
  <%= paginate @personalcharges %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sort_link(@q, :project_job_code, t('Job code')) %></th>
        <th><%= sort_link(@q, :user_english_name, t('Employee name')) %></th> 
        <th><%= sort_link(@q, :period_number, t('Period')) %></th>  
        <th><%= sort_link(@q, :hours, t('hours')) %></th>
        <th><%= sort_link(@q, :service_fee, t('service_fee')) %></th>
        <th>PFA%</th>
        <th><%= sort_link(@q, :PFA_of_service_fee, t('PFA of service fee')) %></th>
        <th><%= sort_link(@q, :reimbursement, t('reimbursement')) %></th>
        <th><%= sort_link(@q, :meal_allowance, t('meal_allowance')) %></th>
        <th><%= sort_link(@q, :travel_allowance, t('travel_allowance')) %></th>
        <th><%= sort_link(@q, :charge_date, t('charge_date')) %></th>
        <th><%= sort_link(@q, :created_on, t('created_on')) %></th>
        <th><%= sort_link(@q, :updated_on, t('updated_on')) %></th>
        <th colspan="2">Operation</th>
      </tr>
    </thead>
    <tbody>
      <%= render @personalcharges %>
      <%#= render 'total' %>
    </tbody>
  </table>
  <%= paginate @personalcharges %>
</div>