Job code : <%=@personalcharge.project.job_code if @personalcharge.project %>
<br>
period : <%=@personalcharge.period.number%>
<br>
Employee:<%=@personalcharge.person.english_name %>
<hr>
<% for column in Personalcharge.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @personalcharge.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', edit_personalcharge_path(@personalcharge) if @personalcharge.project && @personalcharge.project.status.title == 'Active'%> |
<%= link_to 'Back', personalcharges_url %>
