<h1>Listing Period</h1>
<div>
  <%= link_to "New Period", new_period_path %>
</div>
<%= paginate @periods %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Period.human_attribute_name("number") %></th>
      <th><%= Period.human_attribute_name("starting_date") %></th>
      <th><%= Period.human_attribute_name("ending_date") %></th>
      <th colspan="2">Operation</th>
    </tr>
  </thead>
  <tbody>
    <% for period in @periods %>
      <tr>
        <td><%= link_to period.number, period %></td>
        <td><%= period.starting_date %></td>
        <td><%= period.ending_date %></td>
        <td><%= link_to 'Edit', edit_period_path(period) %></td>
        <td><%= link_to 'Destroy', period, method: :delete, data: {confirm: ('Are you sure?')} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @periods %>