<h1>Listing Period</h1>
<div>
  <%= link_to "New Period", new_period_path %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :id) %></th>
      <th><%= sort_link(@q, :number) %></th>
      <th><%= sort_link(@q, :starting_date) %></th>
      <th><%= sort_link(@q, :ending_date) %></th>
      <th colspan="2">Operation</th>
    </tr>
  </thead>
  <tbody>
    <% for period in @periods %>
      <tr>
        <td><%= period.id %></td>
        <td><%= period.number %></td>
        <td><%= period.starting_date %></td>
        <td><%= period.ending_date %></td>
        <td><%= link_to 'Edit', edit_period_path(period) %></td>
        <td><%= link_to 'Destroy', period, method: :delete, data: {confirm: ('Are you sure?')} %></td>
      </tr>
    <% end %>
  </tbody>
</table>