<p>
  <label>number</label>
  <%= @period.number %>
</p>
<p>
  <label>starting_date</label>
  <%= @period.starting_date %>
</p>
<p>
  <label>ending_date</label>
  <%= @period.ending_date %>
</p>
<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>