<%= search_form_for(@q, url: summary_by_user_time_reports_path, html: { class: 'form-horizontal' }, 
    wrapper: :horizontal_form,
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean}) do |f| %>
  <div class="col-md-12">
    <%= collection_select(:period, :start_period_number, Period.order(number: :desc), :number, :number) %>
    <%= collection_select(:period, :end_period_number, Period.order(number: :desc), :number, :number) %>
  </div>
  <div class="col-md-4">
    <%= f.input :partner_english_name_eq, 
                collection: User.select_partners, 
                required: false,
                label: 'Partner' %>
    <%= f.input :referring_english_name_eq,
                collection: User.order_english_name,
                required: false,
                label: 'Job Ref'%>
    <%= f.input :manager_english_name_eq, 
                collection: User.select_managers, 
                required: false,
                label: 'Manager' %>
  </div>
  <div class="col-md-4">
    <%= f.input :contract_number_eq, 
                collection: Project.order(:contract_number).pluck(:contract_number), 
                required: false,
                label: 'Contact Number' %>
    <%= f.input :job_code_cont, 
                required: false,
                label: 'Job Code' %>
  </div>
  <div class="col-md-4">
    <%= f.input :service_code_eq, 
                collection: Dict.selected_service_codes,
                required: false,
                label: 'ServiceLine' %>
    <%= f.input :GMU_id_eq,
                collection: Dict.selected_gmus,
                required: false,
                label: 'GMU' %>
    <%= f.input :status_id_eq,
                collection: Dict.selected_statuses,
                required: false,
                label: 'Status' %>
  </div>
  <div class="col-md-12">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>