<!-- time report -->
<%= form_tag('/time_reports/time_report', :method => :post) do %>
  <b>Job_code:</b>
  <%= collection_select(:personalcharge, :project_id, Project.all, :id, :job_code) %>
  <b>Period:</b>
  <%= collection_select(:personalcharge, :period_id, Period.all, :id, :number) %>
  <input type="submit" value="REPORT" />
<% end  %>
<!-- end of time report -->


<!-- summary -->
<h3>Summary</h3>
<%= form_tag :action => 'summary', method: :post do %>
  Period:
  <%= collection_select(:period, :start_period_number, Period.all, :number, :number) %>
  <%= collection_select(:period, :end_period_number, Period.all, :number, :number) %>
  <%= submit_tag 'summary' %>
<% end %>
<!-- end of summary -->

<h3>Summary by user</h3>
<%= render 'search' %>