<!-- summary -->
<h3>Summary</h3>
<%= form_tag :action => 'summary', method: :post do %>
  Period:
  <%= collection_select(:period, :start_period_number, Period.order(number: :desc), :number, :number) %>
  <%= collection_select(:period, :end_period_number, Period.order(number: :desc), :number, :number) %>
  <%= submit_tag 'summary' %>
<% end %>
<!-- end of summary -->

<!-- time report -->
<%= form_tag action: :time_report, method: :post do %>
  <b>Job_code:</b>
  <%= select_tag :project_code, options_for_select(Project.order_with_job_code) %>
  <b>Period:</b>
  <%= select_tag :period_number, options_for_select(Period.period_number) %>
  <%= submit_tag 'REPORT' %>
<% end  %>
<!-- end of time report -->

<h3>Summary by user</h3>
<%= render 'search' %>