<div class="row">
  <div class="col-md-10">
    <h1>User List</h1>
  </div>
  <div class="col-md-2">
    <%= link_to 'New User', new_user_path, class: 'btn btn-danger' %>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Projct count</th>
      <th><%= sort_link(@q, :id) %></th>
      <th><%= sort_link(@q, :email) %></th>
      <th><%= sort_link(@q, :name) %></th>
      <th><%#= sort_link(@q, :auth) %></th>
      <th><%#= sort_link(@q, :other1) %></th>
      <th><%#= sort_link(@q, :other2) %></th>
      <th><%#= sort_link(@q, :created_on) %></th>
      <th><%#= sort_link(@q, :updated_on) %></th>
      <th><%= sort_link(@q, :chinese_name) %></th>
      <th><%= sort_link(@q, :english_name) %></th>
      <th><%= sort_link(@q, :employee_number) %></th>
      <th><%= sort_link(@q, :department) %></th>
      <th><%= sort_link(@q, :grade) %></th>
      <th><%= sort_link(@q, :charge_rate) %></th>
      <th><%= sort_link(@q, :employeement_date) %></th>
      <th><%= sort_link(@q, :address) %></th>
      <th><%= sort_link(@q, :postalcode) %></th>
      <th><%= sort_link(@q, :mobile) %></th>
      <th><%= sort_link(@q, :tel) %></th>
      <th><%= sort_link(@q, :extension) %></th>
      <th><%= sort_link(@q, :gender) %></th>
      <th><%= sort_link(@q, :status) %></th>
      <th><%= sort_link(@q, :GMU) %></th>
      <th><%= sort_link(@q, :role) %></th>
      <th colspan="2">Operation</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.projects.live.count %></td>
        <td><%= user.id %></td>
        <td><%= mail_to user.email %></td>
        <td><%= user.name %></td>
        <td><%#= user.auth %></td>
        <td><%#= user.other1 %></td>
        <td><%#= user.other2 %></td>
        <td><%#= user.created_on.to_date if user.created_on %></td>
        <td><%#= user.updated_on.to_date if user.updated_on %></td>
        <td><%= user.chinese_name %></td>
        <td><%= user.english_name %></td>
        <td><%= link_to user.employee_number, user %></td>
        <td><%= user.department %></td>
        <td><%= user.grade %></td>
        <td><%= user.charge_rate %></td>
        <td><%= user.employeement_date %></td>
        <td><%= user.address %></td>
        <td><%= user.postalcode %></td>
        <td><%= user.mobile %></td>
        <td><%= user.tel %></td>
        <td><%= user.extension %></td>
        <td><%= user.gender %></td>
        <td><%= user.status %></td>
        <td><%= user.GMU %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'EditPassword', edit_password_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>