<%= search_form_for(@q) do |f| %>
  <%= f.input :other_cont, 
              as: :search,
              label: t('other_cont'),
              required: false %>
  <%= f.button :submit, t('search') %>
<% end %>

<%= paginate @prj_expense_logs %>
  <div class="row">
    <% @prj_expense_logs.each do |prj_expense_log| %>
      <div class="col-md-6">
        <%= prj_expense_log.other %>
        <%= link_to t('destroy'), prj_expense_log, data: {confirm: t('are_you_sure')}, method: :delete %>
      </div>
    <% end %>
  </div>
<%= paginate @prj_expense_logs %>