 <div class="col-md-6">
   <%= simple_form_for @client do |f| %>  
    <%= f.input :client_code %>
    <%= f.input :chinese_name %>
    <%= f.input :english_name %>
    <%= f.input :user_id, collection: User.all, label: 'Account Owner' %>
    <%= f.input :industry_id, collection: Industry.all %>
    <%= f.input :category_id, collection: Dict.selected_categories %>
    <%= f.input :status_id, collection: Dict.selected_client_statuses %>
    <%= f.input :region_id, collection: Dict.selected_regions %>
    <%= f.button :submit %>
  <% end %>
  <%= link_to 'Back', clients_url %>
</div>