<h1>Listing clients</h1>
<%= link_to 'New client', new_client_path %>
<%= search_form_for @q do |f| %>
  <%= f.input :chinese_name_or_english_name_or_client_code_or_person_english_name_cont, 
              label: 'Any word or letter',
              required: false %>
  <%= f.button :submit %>
<% end %>
<%= paginate @clients %> 
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :client_code) %></th>
      <th><%= sort_link(@q, :chinese_name) %></th>
      <th><%= sort_link(@q, :english_name) %></th>
      <th><%= sort_link(@q, :person_english_name, 'Person English name') %></th>
      <th><%= sort_link(@q, :category_title, 'Category') %></th>
      <th><%= sort_link(@q, :status_title, 'Status') %></th>
      <th><%= sort_link(@q, :region_title, 'Region') %></th>
      <th><%= sort_link(@q, :industry_title, 'Industry') %></th>
      <th><%= sort_link(@q, :description) %></th>
      <th><%= sort_link(@q, :created_on) %></th>
      <th><%= sort_link(@q, :updated_on) %></th>
      <th colspan="2">Operation</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.client_code, client %></td>
        <td><%= client.chinese_name %></td>
        <td><%= client.english_name %></td>
        <td><%= client.person.english_name if client.person %></td>
        <td><%= client.category.title if client.category %></td>
        <td><%= client.status.title if client.status %></td>
        <td><%= client.region.title if client.region %></td>
        <td><%= client.industry.title if client.industry %></td>
        <td><%= client.description %></td>
        <td><%= client.created_on.to_date %></td>
        <td><%= client.updated_on.to_date %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @clients %>