<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">General Information</h3>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>client code</dt>
        <dd><%= @client.client_code %></dd>

        <dt>chinese name</dt>
        <dd><%= @client.chinese_name %></dd>

        <dt>English name</dt>
        <dd><%= @client.english_name %></dd>

        <dt>Account Owner</dt>
        <dd><%= @client.user.english_name %></dd>

        <dt>Client category</dt>
        <dd><%= @client.category.title %></dd>

        <dt>Client status</dt>
        <dd><%= @client.status.title %></dd>

        <dt>Client Region of origin</dt>
        <dd><%= @client.region.title %></dd>

        <dt>Industry</dt>
        <dd><%= @client.industry.title %></dd>

        <dt>Client code</dt>
        <dd><%= @client.client_code %></dd>

        <dt>Last modiffied</dt>
        <dd><%= @client.updated_on %></dd>
      </dl>
    </div>
  </div>

  <% @client.contacts.each do |contact| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
      <%= contact.name %><small><%= link_to 'Destroy', [contact.client, contact], data: {confirm: t('are_you_sure'), method: :delete} %></small>
      </h3>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>name</dt>
        <dd><%= best_in_place contact, :name %></dd>

        <dt>title</dt>
        <dd><%= best_in_place contact, :title %></dd>

        <dt>gender</dt>
        <dd><%= best_in_place contact, :gender %></dd>

        <dt>mobile</dt>
        <dd><%= best_in_place contact, :mobile %></dd>

        <dt>tel</dt>
        <dd><%= best_in_place contact, :tel %></dd>

        <dt>fax</dt>
        <dd><%= best_in_place contact, :fax %></dd>

        <dt>email</dt>
        <dd><%= best_in_place contact, :email %></dd>

        <dt>address</dt>
        <dd><%= best_in_place contact, :address %></dd>

        <dt>city</dt>
        <dd><%= best_in_place contact, :city %></dd>

        <dt>state</dt>
        <dd><%= best_in_place contact, :state %></dd>

        <dt>country</dt>
        <dd><%= best_in_place contact, :country %></dd>

        <dt>postalcode</dt>
        <dd><%= best_in_place contact, :postalcode %></dd>
      </dl>
    </div>
  </div>
  <% end %>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">New Contact</h3>
    </div>
    <div class="panel-body">
    <%= simple_form_for([@client, @client.contacts.build], html: { class: 'form-horizontal' }, 
    wrapper: :horizontal_form,
    wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean}) do |f|%>
      <%= f.input :name %>
      <%= f.input :title %>
      <%= f.input :gender %>
      <%= f.input :mobile %>
      <%= f.input :tel %>
      <%= f.input :fax %>
      <%= f.input :email %>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :country %>
      <%= f.input :postalcode %>
      <%= f.button :submit %>
    <% end %>
    </div>
  </div>
</div>

<div class="col-md-12">
  <%= link_to 'Edit', edit_client_path(@client)  %> |
  <%= link_to 'Back', clients_url %>
</div>