<h1>Think Bridge</h1>
<% if current_user %>
  <div class="panel panel-default">
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>last sign in at</dt>
        <dd><%= current_user.last_sign_in_at %></dd>

        <dt>last sign in ip</dt>
        <dd><%= current_user.last_sign_in_ip %></dd>

        <dt>current sign in at</dt>
        <dd><%= current_user.current_sign_in_at %></dd>

        <dt>current sign in ip</dt>
        <dd><%= current_user.current_sign_in_ip %></dd>
      </dl>
    </div>
  </div>
  <div class="col-md-12">
    <h1>Projects</h1>
    <% current_user.projects.order(job_code: :asc).each do |project| %>
      <div class="col-md-1">
        <%= link_to project.job_code, project %>
      </div>
    <% end %>
  </div>
<% end %>

