<div class="row">
  <div class="col-md-3">
    <h3>Industry list</h3>
    <%= link_to t('new_industry'), new_industry_path, class: 'btn btn-danger' %>
    <hr>
    <div class="well">
      <%= search_form_for(@q) do |f| %>
        <%= f.input :code_or_title_cont, 
                    as: :search,
                    label: t('code_or_title_cont'),
                    required: false %>
        <%= f.button :submit, t('search') %>
      <% end %>
    </div>
  
    <%= render partial: 'shared/click_to_edit' %>
  </div>

  <div class="col-md-9">
    <table class="table table-striped">
      <tr>
        <th><%= sort_link(@q, :code,  t('code')) %></th>
        <th><%= sort_link(@q, :title,  t('title')) %></th>
        <th><%= t('operations') %></th>
      </tr>
      <%= render @industries %>
    </table>
  </div>
</div>