<h1>Listing industries</h1>
<div>
  <%= link_to 'New industry', new_industry_path %>
</div>
<%= paginate @industries %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>code</th>
      <th>title</th>
      <th colspan="3">Operation</th>
    </tr>
  </thead>
  <tbody>
    <% @industries.each do |industry| %>
      <tr>
        <td><%= industry.code %></td>
        <td><%= industry.title %></td>
        <td><%= link_to 'Show',  industry %></td>
        <td><%= link_to 'Edit', edit_industry_path(industry) %></td>
        <td><%= link_to 'Destroy', industry, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @industries %>