<tr>
  <td><%= link_to contact.client.client_code, contact.client if contact.client %></td>
  <td><%= contact.name %></td>
  <td><%= contact.title %></td>
  <td><%= contact.gender %></td>
  <td><%= contact.mobile %></td>
  <td><%= contact.tel %></td>
  <td><%= contact.fax %></td>
  <td><%= contact.email %></td>
  <td><%= contact.address %></td>
  <td><%= contact.city %></td>
  <td><%= contact.state %></td>
  <td><%= contact.country %></td>
  <td><%= contact.postalcode %></td>
</tr>