<h1>Listing Project</h1>
<div>
  <%= link_to "New Project", new_project_path %>
</div>

<%= render "search" %>

<%= paginate @projects %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Job code</th>
      <th>Created date</th>
      <th>Client name</th>
      <th>Job partner</th>
      <th>Job manager</th>
      <th>Job status</th>
      <th>Job Description</th>
      <th colspan="2">Operation</th> 
    </tr>
  </thead>
  <tbody>
    <%= render @projects %>
  </tbody>
</table>
<%= paginate @projects %>