<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Main</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><%= t('contract_number') %></dt>
          <dd><%= @project.contract_number %></dd>

          <dt><%= t('client') %></dt>
          <dd><%= @project.client.english_name if @project.client %></dd>

          <dt><%= t('GMU') %></dt>
          <dd><%= @project.GMU.title if @project.GMU %></dd>

          <dt><%= t('description') %></dt>
          <dd><%= @project.description %></dd>

          <dt><%= t('service') %></dt>
          <dd><%= @project.service.title if @project.service %></dd>

          <dt><%= t('revenue') %></dt>
          <dd><%= @project.revenue.title if @project.revenue %></dd>

          <dt><%= t('starting_date') %></dt>
          <dd><%= @project.starting_date %></dd>

          <dt><%= t('ending_date') %></dt>
          <dd><%= @project.ending_date %></dd>

          <dt><%= t('estimated_annual_fee') %></dt>
          <dd><%= @project.estimated_annual_fee %></dd>

          <dt><%= t('risk') %></dt>
          <dd><%= @project.risk.title if @project.risk %></dd>

          <dt><%= t('status') %></dt>
          <dd><%= @project.status.title if @project.status %></dd>
        </dl>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Estimated and Budgeted</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><%= t('partner') %></dt>
          <dd><%= @project.partner.english_name if @project.partner %></dd>

          <dt><%= t('manager') %></dt>
          <dd><%= @project.manager.english_name if @project.manager %></dd>

          <dt><%= t('referring') %></dt>
          <dd><%= @project.referring.english_name if @project.referring %></dd>

          <dt><%= t('contracted_service_fee') %></dt>
          <dd><%= @project.contracted_service_fee %></dd>

          <dt><%= t('estimated_commision') %></dt>
          <dd><%= @project.estimated_commision %></dd>

          <dt><%= t('estimated_outsorcing') %></dt>
          <dd><%= @project.estimated_outsorcing %></dd>

          <dt><%= t('budgeted_service_fee') %></dt>
          <dd><%= @project.budgeted_service_fee %></dd>

          <dt><%= t('service_PFA') %></dt>
          <dd><%= @project.service_PFA %></dd>

          <dt><%= t('expense_PFA') %></dt>
          <dd><%= @project.expense_PFA %></dd>

          <dt><%= t('contracted_expense') %></dt>
          <dd><%= @project.contracted_expense %></dd>

          <dt><%= t('budgeted_expense') %></dt>
          <dd><%= @project.budgeted_expense %></dd>
        </dl>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Billing Responsibility</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><%= t('billing_partner') %></dt>
          <dd><%= @project.billing_partner.english_name if @project.billing_partner %></dd>

          <dt><%= t('billing_manager') %></dt>
          <dd><%= @project.billing_manager.english_name if @project.billing_manager %></dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Initialfee</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>created_on</dt>
          <dd><%= best_in_place @initialfee, :created_on, as: :date %></dd>

          <dt>updated_on</dt>
          <dd><%= best_in_place @initialfee, :updated_on, as: :date %></dd>

          <dt>service_fee</dt>
          <dd><%= best_in_place @initialfee, :service_fee %></dd>

          <dt>commission</dt>
          <dd><%= best_in_place @initialfee, :commission %></dd>

          <dt>outsourcing</dt>
          <dd><%= best_in_place @initialfee, :outsourcing %></dd>

          <dt>reimbursement</dt>
          <dd><%= best_in_place @initialfee, :reimbursement %></dd>

          <dt>meal_allowance</dt>
          <dd><%= best_in_place @initialfee, :meal_allowance %></dd>

          <dt>travel_allowance</dt>
          <dd><%= best_in_place @initialfee, :travel_allowance %></dd>

          <dt>business_tax</dt>
          <dd><%= best_in_place @initialfee, :business_tax %></dd>

          <dt>tickets</dt>
          <dd><%= best_in_place @initialfee, :tickets %></dd>

          <dt>courrier</dt>
          <dd><%= best_in_place @initialfee, :courrier %></dd>

          <dt>postage</dt>
          <dd><%= best_in_place @initialfee, :postage %></dd>

          <dt>stationery</dt>
          <dd><%= best_in_place @initialfee, :stationery %></dd>

          <dt>report_binding</dt>
          <dd><%= best_in_place @initialfee, :report_binding %></dd>

          <dt>payment_on_be_half</dt>
          <dd><%= best_in_place @initialfee, :payment_on_be_half %></dd>

          <dt>cash_advance</dt>
          <dd><%= best_in_place @initialfee, :cash_advance %></dd>
        </dl>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Deduction</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>created_on</dt>
          <dd><%= best_in_place @deduction, :created_on, as: :date %></dd>

          <dt>updated_on</dt>
          <dd><%= best_in_place @deduction, :updated_on, as: :date %></dd>

          <dt>service_PFA</dt>
          <dd><%= best_in_place @deduction, :service_PFA %></dd>

          <dt>service_UFA</dt>
          <dd><%= best_in_place @deduction, :service_UFA %></dd>

          <dt>service_billing</dt>
          <dd><%= best_in_place @deduction, :service_billing %></dd>

          <dt>expense_PFA</dt>
          <dd><%= best_in_place @deduction, :expense_PFA %></dd>
          
          <dt>expense_UFA</dt>
          <dd><%= best_in_place @deduction, :expense_UFA %></dd>

          <dt>expense_billing</dt>
          <dd><%= best_in_place @deduction, :expense_billing %></dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Links</h3>
      </div>
      <div class="panel-body">
        <p><%= link_to 'new_billing', new_billing_path(project_id: @project.id) %></p>
        <p><%= link_to 'new_personalcharge', new_personalcharge_path(project_id: @project.id) %></p>
        <p><%= link_to 'new_expense', new_expense_path(project_id: @project.id) %></p>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <%= link_to t('edit'), edit_project_path(@project) if @project.status && @project.status.code == '1' %> ||
    <%= link_to t('back'), projects_path %>
  </div>
</div>