<div class="row">
  <div class="col-md-5">
    <%= render 'projects/show/main' %>
    <%= render 'projects/show/estimated' %>
    <%= render 'projects/show/billing' %>
  </div>

  <div class="col-md-5">
    <%= render 'projects/show/initialfee' %>
    <%= render 'projects/show/deduction'  %>
  </div>

  <div class="col-md-2">
    <%= render 'projects/show/links' %>
  </div>

  <div class="col-md-12">
    <%= link_to t('edit'), edit_project_path(@project) if @project.status && @project.status.code == '1' %> ||
    <%= link_to t('back'), projects_path %>
  </div>

  <div class="col-md-12">
    <hr>
    <div class="row">
      <!-- bookings list -->
      <div class="col-md-9">
        <h3>User booked</h3>
        <table class="table table-bordered">
          <tr>
            <th><%= t('user') %></th>
            <th><%= t('charge_rate') %></th>
            <th><%= t('operations') %></th>
          </tr>
          <%= render @project.bookings %>
        </table>
      </div>

      <!-- new booking -->
      <div class="col-md-3">
        <h3>book new User</h3>
        <%= simple_form_for([@project, @project.bookings.build]) do |f|%>
          <%= f.input :user_id, collection: User.select_users %>
          <%= f.button :submit %>
        <% end  %>
      </div>
      
    </div>
  </div>
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= sort_link(@q, :project_job_code, t('job_code')) %></th>
          <th><%= sort_link(@q, :project_referring_english_name, 'Refer') %></th>
          <th><%= sort_link(@q, :project_billing_partner_english_name, 'Partner') %></th>
          <th><%= sort_link(@q, :project_billing_manager_english_name, 'Manager') %></th>
          <th><%= sort_link(@q, :user_english_name, 'Prepared by') %></th>
          <th><%= sort_link(@q, :number) %></th>
          <th><%= sort_link(@q, :period_number, 'Period Number') %></th>
          <th><%= sort_link(@q, :billing_date) %></th>
          <th><%= sort_link(@q, :service_billing) %></th>
          <th><%= sort_link(@q, :expense_billing) %></th>
          <th><%= sort_link(@q, :amount) %></th>
          <th>Received</th>
          <th><%= sort_link(@q, :outstanding) %></th>
          <th><%= sort_link(@q, :write_off) %></th>
          <th>Outstanding Net</th>
          <th><%= sort_link(@q, :provision) %></th>
          <th><%= sort_link(@q, :days_of_ageing) %></th>
          <th><%= sort_link(@q, :status) %></th>
          <th><%= sort_link(@q, :business_tax) %></th>
          <th><%= sort_link(@q, :collection_days) %></th>
          <th><%= sort_link(@q, :created_on) %></th>
          <th><%= sort_link(@q, :updated_on) %></th>
          <th colspan="2">Operation</th>
        </tr>
      </thead>
      <tbody>
        <%= render @billings %>    
      </tbody>
    </table>
  </div>
</div>