<div class="row">
  <div class="col-md-5">
    <%= render 'projects/show/main' %>
    <%= render 'projects/show/estimated' %>
    <%= render 'projects/show/billing' %>
  </div>

  <div class="col-md-5">
    <%= render 'projects/show/initialfee' %>
    <%= render 'projects/show/deduction'  %>
  </div>

  <div class="col-md-2">
    <%= render 'projects/show/links' %>
  </div>

  <div class="col-md-12">
    <%= link_to t('edit'), edit_project_path(@project) if @project.status && @project.status.code == '1' %> ||
    <%= link_to t('back'), projects_path %>
  </div>

  <div class="col-md-12">
    <hr>
    <div class="row">
      <!-- bookings list -->
      <div class="col-md-9">
        <h3>User booked</h3>
        <table class="table table-bordered">
          <tr>
            <th>user</th>
            <th>charge_rate</th>
            <th>operations</th>
          </tr>
          <%= render @project.bookings %>
        </table>
      </div>

      <!-- new booking -->
      <div class="col-md-3">
        <h3>book new User</h3>
        <%= simple_form_for([@project, @project.bookings.build]) do |f|%>
          <%= f.input :user_id, collection: User.select_users %>
          <%= f.button :submit %>
        <% end  %>
      </div>
      
    </div>
  </div>
  <div class="col-md-12">
    <h2>Billing List</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>job_code</th>
          <th>Refer</th>
          <th>Partner</th>
          <th>Manager</th>
          <th>Prepared by</th>
          <th>number</th>
          <th>Period Number</th>
          <th>billing_date</th>
          <th>service_billing</th>
          <th>expense_billing</th>
          <th>amount</th>
          <th>Received</th>
          <th>outstanding</th>
          <th>write_off</th>
          <th>Outstanding Net</th>
          <th>provision</th>
          <th>days_of_ageing</th>
          <th>status</th>
          <th>business_tax</th>
          <th>collection_days</th>
          <th>created_on</th>
          <th>updated_on</th>
          <th colspan="2">Operation</th>
        </tr>
      </thead>
      <tbody>
        <%= render @billings %>    
      </tbody>
    </table>
    <h2>Expense List</h2>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>project_job_code</th>
          <th>period_number</th>
          <th>commission</th>
          <th>outsourcing</th>
          <th>tickets</th>
          <th>courrier</th>
          <th>postage</th>
          <th>stationery</th>
          <th>report_binding</th>
          <th>cash_advance</th>
          <th>payment_on_be_half</th>
          <th>created_on</th>
          <th>updated_on</th>
          <th>memo</th>
          <th colspan="2">Operation</th>
        </tr>
      </thead>
      <tbody>
        <%= render @expenses %>
      </tbody>
    </table>
  </div>
</div>