<div class="row">
  <div class="col-md-5">
    <%= render 'projects/show/main' %>
    <%= render 'projects/show/estimated' %>
    <%= render 'projects/show/billing' %>
  </div>

  <div class="col-md-5">
    <%= render 'projects/show/initialfee' %>
    <%= render 'projects/show/deduction'  %>
  </div>

  <div class="col-md-2">
    <%= render 'projects/show/links' %>
  </div>

  <div class="col-md-12">
    <%= link_to t('edit'), edit_project_path(@project) if @project.status && @project.status.code == '1' %> ||
    <%= link_to t('back'), projects_path %>
  </div>
</div>