<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Main</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><%= t('contract_number') %></dt>
          <dd><%= @project.contract_number %></dd>

          <dt><%= t('client') %></dt>
          <dd><%= @project.client.english_name if @project.client %></dd>

          <dt><%= t('GMU') %></dt>
          <dd><%= @project.GMU.title if @project.GMU %></dd>

          <dt><%= t('description') %></dt>
          <dd><%= @project.description %></dd>

          <dt><%= t('service') %></dt>
          <dd><%= @project.service.title if @project.service %></dd>

          <dt><%= t('revenue') %></dt>
          <dd><%= @project.revenue.title if @project.revenue %></dd>

          <dt><%= t('starting_date') %></dt>
          <dd><%= @project.starting_date %></dd>

          <dt><%= t('ending_date') %></dt>
          <dd><%= @project.ending_date %></dd>

          <dt><%= t('estimated_annual_fee') %></dt>
          <dd><%= @project.estimated_annual_fee %></dd>

          <dt><%= t('risk') %></dt>
          <dd><%= @project.risk.title if @project.risk %></dd>

          <dt><%= t('status') %></dt>
          <dd><%= @project.status.title if @project.status %></dd>
        </dl>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Estimated and Budgeted</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><%= t('partner') %></dt>
          <dd><%= @project.partner.english_name if @project.partner %></dd>

          <dt><%= t('manager') %></dt>
          <dd><%= @project.manager.english_name if @project.manager %></dd>

          <dt><%= t('referring') %></dt>
          <dd><%= @project.referring.english_name if @project.referring %></dd>

          <dt><%= t('contracted_service_fee') %></dt>
          <dd><%= @project.contracted_service_fee %></dd>

          <dt><%= t('estimated_commision') %></dt>
          <dd><%= @project.estimated_commision %></dd>

          <dt><%= t('estimated_outsorcing') %></dt>
          <dd><%= @project.estimated_outsorcing %></dd>

          <dt><%= t('budgeted_service_fee') %></dt>
          <dd><%= @project.budgeted_service_fee %></dd>

          <dt><%= t('service_PFA') %></dt>
          <dd><%= @project.service_PFA %></dd>

          <dt><%= t('expense_PFA') %></dt>
          <dd><%= @project.expense_PFA %></dd>

          <dt><%= t('contracted_expense') %></dt>
          <dd><%= @project.contracted_expense %></dd>

          <dt><%= t('budgeted_expense') %></dt>
          <dd><%= @project.budgeted_expense %></dd>
        </dl>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Billing Responsibility</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt><%= t('billing_partner') %></dt>
          <dd><%= @project.billing_partner.english_name if @project.billing_partner %></dd>

          <dt><%= t('billing_manager') %></dt>
          <dd><%= @project.billing_manager.english_name if @project.billing_manager %></dd>
        </dl>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <%= link_to t('edit'), edit_project_path(@project) if @project.status && @project.status.code == '1' %> ||
    <%= link_to t('back'), projects_path %>
  </div>
</div>