<tr>
  <td><%= link_to_if (can? :read, billing.project), billing.project.job_code, billing.project if billing.project %></td>
  <td><%= link_to billing.project.referring.english_name, 
                  billing.project.referring if billing.project && billing.project.referring %></td>
  <td><%= link_to billing.project.billing_partner.english_name,
          billing.project.billing_partner if billing.project && billing.project.billing_partner %></td>
  <td><%= link_to billing.project.billing_manager.english_name,
          billing.project.billing_manager if billing.project && billing.project.billing_manager %></td>
  <td><%= link_to billing.user.english_name,
          billing.user if billing.user %></td>
  <td><%= link_to billing.number, billing %></td>
  <td><%= billing.period.number if billing.period %></td>
  <td><%= billing.billing_date %></td>
  <td><%= billing.service_billing %></td>
  <td><%= billing.expense_billing %></td>
  <td><%= billing.amount %></td>
  <td><%= billing.receive_amounts.sum(:receive_amount) %></td>
  <td><%= billing.outstanding %></td>
  <td><%= billing.write_off %></td>
  <td><%= billing.outstanding - billing.write_off %></td>
  <td><%= billing.provision %></td>
  <td><%= billing.days_of_ageing %></td>
  <td><%= billing.status == "0" ? "outstanding" : "received" %></td>
  <td><%= billing.business_tax %></td>
  <td><%= billing.collection_days %></td>
  <td><%= billing.created_on.to_date if billing.created_on %></td>
  <td><%= billing.updated_on.to_date if billing.updated_on %></td>
  <td><%= link_to_if ((can? :update, billing) && (billing.status == '0')), 'Edit', edit_billing_path(billing)%></td>
  <td><%= link_to_if (can? :destroy, billing), 'Destroy', billing, method: :delete, data: {confirm: 'Are you sure ?'} %></td>
</tr>