<div class="panel panel-default">
  <div class="panel-body">
    <dl class="dl-horizontal">
      <% Billing.content_columns.each do |column| %>
        <dt><%= column.human_name %></dt>
        <dd><%= @billing.send(column.name) %></dd>
      <% end %>

      <dt><%= t('job_code') %></dt>
      <dd><%= @billing.project.job_code %></dd>

      <dt><%= t('Prepared by') %></dt>
      <dd><%= @billing.user.english_name %></dd>
    </dl>
  </div>
</div>

<%= link_to_if ((can? :update, @billing) && (@billing.status == '0')), 'Edit', edit_billing_path(@billing) %> |
<%= link_to 'Back', billings_url %>
<hr>
<%= link_to 'New receive_amount', new_billing_receive_amount_path(billing_id: @billing) if @billing.status == '0'%>

<table border=1>
  <tr>
    <th>Invoice No</th>
    <th>Receive Date</th>
    <th>Receive Amount</th>
    <th>Billing Number</th>
    <th>Engagement Partner</th>
    <th>Job Code</th>
    <th colspan="2">Operation</th>
  </tr>
  
  <%= render @billing.receive_amounts %>
</table>