<h1>Listing items</h1>
<div>
  <%= link_to 'New item', :action => 'new' %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>code</th>
      <th>titlename</th>
      <th>img_url</th>
      <th colspan="2">Operation</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.code, item %></td>
        <td><%= item.titlename %></td>
        <td><%= item.img_url %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items %>