<%= simple_form_for([@billing, @receive_amount]) do |f| %>
  <p><label >Billing Number</label><br/>
  <%= @billing.number %></p>

  <p><label for="receive_amount_job_code">Job code</label><br/>
  <%= @billing.project.job_code%></p>
  <%= f.input :created_on, as: :date, html5: true, disabled: true  %>
  <%= f.input :updated_on, as: :date, html5: true, disabled: true  %>
  <%= f.input :invoice_no  %></p>
  <%= f.input :receive_date, as: :date, html5: true  %></p>
  <%= f.input :receive_amount  %></p>
  <%= f.button :submit %>
<% end %>