<%= simple_form_for @expense do |f| %>
  <div class="col-md-6">
    <%= f.input :project_id, collection: Project.order(:job_code) %>
    <%= f.input :period_id, collection: Period.order(number: :desc) %>
    <%= f.input :commission %>
    <%= f.input :outsourcing %>
    <%= f.input :tickets %>
    <%= f.input :courrier %>
  </div>
  <div class="col-md-6">
    <%= f.input :postage %>
    <%= f.input :stationery %>
    <%= f.input :report_binding %>
    <%= f.input :cash_advance %>
    <%= f.input :payment_on_be_half %>
    <%= f.input :memo %>
  </div>
  <div class="col-md-12">
    <%= f.button :submit %>
  </div>
<% end %>

<div class="col-md-12">
  <%= link_to 'Back', expenses_url %>
</div>