<div class="row">
  <div class="col-md-10">
    <h1>Expense List</h1>
  </div>
  <div class="col-md-2">
    <%= link_to 'New Expense', new_expense_path, class: 'btn btn-danger' %>
  </div>
<!--   <div class="well col-md-12">
    <%#= render 'search' %>
  </div> -->
  <div class="well col-md-12">
    <%= form_tag("/expenses", method: "get") do %>
      <%= label_tag(:project, "Project:") %>
      <%= select_tag  :project, 
                      options_for_select(Project.select_projects), 
                      :include_blank => true %>
      <%= label_tag(:period_from, "Peroid From:") %>
      <%= select_tag  :period_from, 
                      options_for_select(Period.period_number), 
                      :include_blank => true %>
      <%= label_tag(:period_to, "Period To:") %>
      <%= select_tag  :period_to, 
                      options_for_select(Period.period_number),
                      :include_blank => true %>
      <%= label_tag(:col, "col:") %>
      <%= select_tag  :col, 
                      options_for_select(Expense::EXPENSE_NUMBER_FIELDS), 
                      :include_blank => true %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div>

<%= paginate @expenses %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :project_job_code) %></th>
      <th><%= sort_link(@q, :period_number) %></th>
      <th><%= sort_link(@q, :commission) %></th>
      <th><%= sort_link(@q, :outsourcing) %></th>
      <th><%= sort_link(@q, :tickets) %></th>
      <th><%= sort_link(@q, :courrier) %></th>
      <th><%= sort_link(@q, :postage) %></th>
      <th><%= sort_link(@q, :stationery) %></th>
      <th><%= sort_link(@q, :report_binding) %></th>
      <th><%= sort_link(@q, :cash_advance) %></th>
      <th><%= sort_link(@q, :payment_on_be_half) %></th>
      <th><%= sort_link(@q, :created_on) %></th>
      <th><%= sort_link(@q, :updated_on) %></th>
      <th><%= sort_link(@q, :memo) %></th>
      <th colspan="2">Operation</th>
    </tr>
  </thead>
  <tbody>
    <%= render @expenses %>
    <%#= render 'sum' %>
  </tbody>
</table>
<%= paginate @expenses %>