<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Deduction</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>created_on</dt>
      <dd><%= best_in_place @deduction, :created_on, as: :date %></dd>

      <dt>updated_on</dt>
      <dd><%= best_in_place @deduction, :updated_on, as: :date %></dd>

      <dt>service_PFA</dt>
      <dd><%= best_in_place @deduction, :service_PFA %></dd>

      <dt>service_UFA</dt>
      <dd><%= best_in_place @deduction, :service_UFA %></dd>

      <dt>service_billing</dt>
      <dd><%= best_in_place @deduction, :service_billing %></dd>

      <dt>expense_PFA</dt>
      <dd><%= best_in_place @deduction, :expense_PFA %></dd>
      
      <dt>expense_UFA</dt>
      <dd><%= best_in_place @deduction, :expense_UFA %></dd>

      <dt>expense_billing</dt>
      <dd><%= best_in_place @deduction, :expense_billing %></dd>
    </dl>
  </div>
</div>