<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Initialfee</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>created_on</dt>
      <dd><%= best_in_place @initialfee, :created_on, as: :date %></dd>

      <dt>updated_on</dt>
      <dd><%= best_in_place @initialfee, :updated_on, as: :date %></dd>

      <dt>service_fee</dt>
      <dd><%= best_in_place @initialfee, :service_fee %></dd>

      <dt>commission</dt>
      <dd><%= best_in_place @initialfee, :commission %></dd>

      <dt>outsourcing</dt>
      <dd><%= best_in_place @initialfee, :outsourcing %></dd>

      <dt>reimbursement</dt>
      <dd><%= best_in_place @initialfee, :reimbursement %></dd>

      <dt>meal_allowance</dt>
      <dd><%= best_in_place @initialfee, :meal_allowance %></dd>

      <dt>travel_allowance</dt>
      <dd><%= best_in_place @initialfee, :travel_allowance %></dd>

      <dt>business_tax</dt>
      <dd><%= best_in_place @initialfee, :business_tax %></dd>

      <dt>tickets</dt>
      <dd><%= best_in_place @initialfee, :tickets %></dd>

      <dt>courrier</dt>
      <dd><%= best_in_place @initialfee, :courrier %></dd>

      <dt>postage</dt>
      <dd><%= best_in_place @initialfee, :postage %></dd>

      <dt>stationery</dt>
      <dd><%= best_in_place @initialfee, :stationery %></dd>

      <dt>report_binding</dt>
      <dd><%= best_in_place @initialfee, :report_binding %></dd>

      <dt>payment_on_be_half</dt>
      <dd><%= best_in_place @initialfee, :payment_on_be_half %></dd>

      <dt>cash_advance</dt>
      <dd><%= best_in_place @initialfee, :cash_advance %></dd>
    </dl>
  </div>
</div>