<%= @report.period.number if @report.period %>
<%= @report.user.name if @report.user %>

<%= simple_form_for(@report, url: update_projects_report_path, method: :get) do |f| %>
  <% current_user.projects.live.each do |project| %>
    <div class="col-md-2">
    <%= check_box_tag "report[project_ids][]", project.id, @report.projects.include?(project) %>
      <%= project.job_code %>
    </div>
  <% end %>
  <div class="col-md-12">
    <%= f.button :submit, "Update projects" %>
  </div>
<% end %>
<div class="col-md-12">
  <%= link_to 'Go to fill data', fill_data_report_path(@report) %>
</div>