<div class="row">
  <div class="col-md-3 col-md-offset-9">
    <%= link_to 'submit', submit_report_path(@report), method: :post, class: 'btn btn-danger' %>
  </div>
</div>
<!-- head -->
<%= render 'header' %>

<br />
<div class="row">
  <div class="col-md-8">
    <table border="1">
      <!-- header of time cost-->
      <tr>
        <td rowspan="3" style="width: 300px">
          <strong>
            (6) Client Name and<br/>Description of Work
          </strong>
        </td>
        <td colspan="17" style="height: 60px">
          <strong>
            (7) Time Distribution for Period
          </strong>
        </td>
      </tr>
      <%
        start_date  = @report.period.starting_date
        end_date    = @report.period.ending_date
      %>
      <% if end_date.day < 16 %>
        <!-- first half month-->
        <tr>
          <td></td>
          <% (1..15).each  do |n| %>
            <td>
              <%= weekend(start_date.to_date + (n-1).days) ? "[#{n}]" : n %>
            </td>
          <% end %>
          <td></td>
        </tr>
        <tr>
          <td>ADJ</td>
          <% 16.times  do |n| %>
            <td>-</td>
          <% end %>
        </tr>
      <% else %>
        <!-- second half month -->
        <tr>
          <td></td>
          <% 15.times do %>
            <td>-</td>
          <% end %>
          <td></td>
        </tr>
        <tr>
          <td>ADJ</td>
          <% (16..31).each  do |n| %>
           <td><%= end_date.day < n ? "-" : (weekend(start_date.beginning_of_month + (n - 1).days) ? "[#{n}]" : n) %></td>
          <% end %>
        </tr>
      <% end %>

      <!-- body -->
      <!-- projects -->
      <!-- 输入Time Distribution for Period -->
      <% if @projects %>
        <% @projects.each do |project| %>
          <tr>
            <td><%= truncate(project.client.english_name, length: 24) if project.client %></td>
            <td></td>
            <% 16.times  do |col| %>
              <% col_date = start_date + col %>
              <td class="focus">
                <%= col_date <= end_date ? (best_in_place project.personalcharges.find_or_create_by(
                      user_id: @report.user_id,  
                      charge_date:  col_date, 
                      period_id: @report.period_id
                      ), :hours, as: :input) : "-"  %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>

      <!-- fill the empty project field -->
      <% (20 - @projects.count ).times do |row| %>
        <tr>
          <td><%= "-" %></td>
          <% 17.times  do |col| %>
            <td><%= "" %></td>
          <% end %>
        </tr>
      <% end %>

      <!-- additional projects -->
      <% Report.additional_items.each do |key, value| %>
        <tr>
          <td>
            <small>
              <%= key %>
            </small>
          </td>
          <td></td>
          <% 16.times  do |col| %>
            <% col_date = start_date + col %>
            <td style="width: 50px" class="focus">
              <%= col_date <= end_date ? (
                    best_in_place Project.find_by_job_code(value).personalcharges.find_or_create_by(
                      user_id: @report.user_id,  
                      charge_date:  col_date, 
                      period_id: @report.period_id
                      ), :hours, as: :input) : "-" %>
            </td>
          <% end %>
        </tr>
      <% end %>

      <!-- totol -->
      <tr>
        <td>
          <small>(12) TOTAL HOURS (Including overtime)</small>
        </td>
        <td></td>
        <% 16.times  do |col| %>
        <% col_date = start_date + col %>
          <% if col_date <= end_date %>
            <td class="refresh1">
              <%= Personalcharge.where(
                    charge_date: col_date,
                    project_id: @projects.ids,
                    user_id: @report.user_id
                    ).sum(:hours)  + 
                  Personalcharge.where(
                    charge_date: col_date, 
                    project_id: @additional_projects.ids,
                    user_id: @report.user_id
                    ).sum(:hours) %>
            </td>
          <% else %>
            <td>-</td>
          <% end %>
        <% end %>
      </tr>

      <!-- overtime -->
      <tr>
        <td>
          <small>(13) OVERTIME</small>
        </td>
        <td></td>
        <% 16.times  do |col| %>
          <td class="refresh2">
            <% project_time = Personalcharge.where(
                    charge_date: start_date + col, 
                    project_id: @projects.ids,
                    user_id: @report.user_id
                    ).sum(:hours)
               addtional_time = Personalcharge.where(
                    charge_date: start_date + col, 
                    project_id: @additional_projects.ids,
                    user_id: @report.user_id
                    ).sum(:hours) %>
            <!-- if weekend, all time if overtime -->
            <% if weekend(start_date + col.days) %>
              <%= project_time + addtional_time %>
            <% else %>
              <!-- if more than 8 hours, subtract 8 hours -->
              <% if (project_time + addtional_time) > 8 %>
                <%= project_time + addtional_time -8  %>
              <% else %>
                0
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </table>
  </div>

  <!-- right side -->
  <div class="col-md-4">
    <table border="1">
      <!-- right side head -->
      <tr>
        <td rowspan="3">
          <strong>
            (8)<br/>
            Total <br/>
            Hours
          </strong>
        </td>
        <td rowspan="1" colspan="4" style="height: 60px">
          <strong>
            (9) Exp RMB
          </strong>
        </td>

        <td rowspan="3">
          (10) Job<br/>
          Number
        </td>
        <td rowspan="3">
          (11) PM Approval
        </td>
      </tr>

      <tr>
        <td rowspan="1" colspan="2">
          <small>
            Meal Allowance
          </small>
        </td>
        <td rowspan="1">
          Traveling
        </td>
        <td>
          Total
        </td rowspan="1">
      </tr>
      <tr>
        <td rowspan="1"><small>RMB20</small></td>
        <td rowspan="1"><small>RMB120</small></td>
        <td rowspan="1"><small>Expenses</small></td>
        <td rowspan="1"><small>Expenses</small></td>
      </tr>

      <!-- right side body -->
      <% @projects.each do |project| %>
        <tr>
          <td class="refresh3">
            <%= project.personalcharges.where(
                  user_id: @report.user_id, 
                  period_id: @report.period_id
                  ).sum(:hours) %>
          </td>
          <!-- 输入2 -->
          <td class="focus">
            <%= best_in_place project.personalcharges.find_or_create_by(
                  user_id: @report.user_id, 
                  period_id: @report.period_id
                  ), :meal_allowance, as: :input %></td>
          <td>
            <%= "0" %>
          </td>
          <td class="focus">
            <%= best_in_place project.personalcharges.find_or_create_by(
                  user_id: @report.user_id, 
                  period_id: @report.period_id
                  ), :travel_allowance, as: :input %>
          </td>
          <td class="refresh4">
            <%= project.personalcharges.where(
                  user_id: @report.user_id, 
                  period_id: @report.period_id
                  ).sum(:meal_allowance) +
                project.personalcharges.where(
                  user_id: @report.user_id, 
                  period_id: @report.period_id
                  ).sum(:travel_allowance) %>
          </td>
          <td>
            <%= project.job_code %>
          </td>
          <td></td>
        </tr>
      <% end %>

      <!-- fill the empty one -->
      <% (20 - @projects.count).times do |row| %>
        <tr>
          <% 5.times do %>
            <td><%= "" %></td>
          <% end %>
          <td><%= "-" %></td>
          <td><%= "" %></td>
        </tr>
      <% end %>

      <% @additional_projects.each do |project| %>
        <tr>
          <td>
            <%= project.personalcharges.where(
                  user_id: @report.user_id, 
                  period_id: @report.period_id
                  ).sum(:hours) %>
          </td>
          <td class="focus">
            <%= best_in_place project.personalcharges.find_or_create_by(
                  user_id: @report.user_id, 
                  period_id: @report.period_id
                  ), :meal_allowance, as: :input %></td>
          <td>
            <%= "0" %>
          </td>
          <td class="focus">
            <%= best_in_place project.personalcharges.find_or_create_by(
                  user_id: @report.user_id, 
                  period_id: @report.period_id
                  ), :travel_allowance, as: :input %>
          </td>
          <td>
            <%= project.personalcharges.where(
                  user_id: @report.user_id, 
                  period_id: @report.period_id
                  ).sum(:meal_allowance) + 
                project.personalcharges.where(
                  user_id: @report.user_id, 
                  period_id: @report.period_id
                  ).sum(:travel_allowance)  %>
          </td>
          <td>
            <%= project.job_code %>
          </td>
          <td></td>
        </tr>
      <% end %>

      <tr>
        <td class="refresh5_1">
          <%= Personalcharge.where(
                period_id: @report.period_id, 
                project_id: @projects.ids,
                user_id: @report.user_id
                ).sum(:hours)  + 
              Personalcharge.where(
                period_id: @report.period_id, 
                project_id: @additional_projects.ids,
                user_id: @report.user_id
                ).sum(:hours) %>
        </td>
        <td class="refresh5_2">
          <%= Personalcharge.where(
                period_id: @report.period_id, 
                project_id: @projects.ids,
                user_id: @report.user_id
                ).sum(:meal_allowance) + 
              Personalcharge.where(
                period_id: @report.period_id, 
                project_id: @additional_projects.ids,
                user_id: @report.user_id
                ).sum(:meal_allowance) %>
        </td>
        <td class="refresh5_3">0</td>
        <td class="refresh5_4">
          <%= Personalcharge.where(
                period_id: @report.period_id, 
                project_id: @projects.ids,
                user_id: @report.user_id
                ).sum(:travel_allowance) + 
              Personalcharge.where(
                period_id: @report.period_id, 
                project_id: @additional_projects.ids,
                user_id: @report.user_id
                ).sum(:travel_allowance) %>
        </td>
        <td class="refresh5_5">
          <%= Personalcharge.where(
                period_id: @report.period_id, 
                project_id: @projects.ids,
                user_id: @report.user_id
                ).sum(:meal_allowance) + 
              Personalcharge.where(
                period_id: @report.period_id, 
                project_id: @additional_projects.ids,
                user_id: @report.user_id
                ).sum(:meal_allowance) +
              Personalcharge.where(
                period_id: @report.period_id, 
                project_id: @projects.ids,
                user_id: @report.user_id
                ).sum(:travel_allowance) + 
              Personalcharge.where(
                period_id: @report.period_id, 
                project_id: @additional_projects.ids,
                user_id: @report.user_id
                ).sum(:travel_allowance) %>
        </td>
        <td colspan="2">
          <small>Period time and expense</small>
        </td>
      </tr>
      <tr>
        <td class="refresh6">
          <% overtime_total = 0.0 %>
          <% Personalcharge.where(
              period_id: @report.period_id, 
              project_id: @projects.ids, 
              user_id: @report.user_id
              ).each do |personalcharge| %>
            <% if weekend(personalcharge.charge_date) %>
              <% overtime_total += personalcharge.hours %>
            <% else %>
              <% overtime_total += (personalcharge.hours - 8) if personalcharge.hours > 8 %>
            <% end %>
          <% end %>

          <% Personalcharge.where(
              period_id: @report.period_id, 
              project_id: @additional_projects.ids,
              user_id: @report.user_id
              ).each do |personalcharge| %>
            <% if weekend(personalcharge.charge_date) %>
              <% overtime_total += personalcharge.hours %>
            <% else %>
              <% overtime_total += (personalcharge.hours - 8) if personalcharge.hours > 8 %>
            <% end %>
          <% end %>
          <%= overtime_total %>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2">
          <small>Expense balance</small>
        </td>
      </tr>
    </table>
  </div>
</div>

<script type="text/javascript">
  var thisurl=window.location.href;
  var no=thisurl.indexOf("reports");
  var surl=thisurl.substr(0,no+10);
  var url=surl+"json_data";
  //alert(url);

  //setInterval("show()",2000);
  $("*").change(function(){
    //setTimeout(show(),1000);
    //$(this).delay(1000,show);
    show();
    
  });
  //show();

  function show(){ $.ajax({url: url,
          dataType: "json",
          type: "get",
          
          success: function (data) {
            refresh1(data.total);
            refresh2(data.overtime);
            refresh3(data.total_hours);
            refresh4(data.total_expenses);
            refresh5(data.periods);
            refresh6(data.expenses);
          },
          
          });
  }
  function refresh1(data1){
      var i=0;
      $(".refresh1").each(function(){
        $(this).text(data1[i]);
        i++;
      });

  }

  function refresh2(data2){
      var i=0;
      $(".refresh2").each(function(){
        $(this).text(data2[i]);
        i++;
      });

  }

  function refresh3(data3){
      var i=0;
      $(".refresh3").each(function(){
        $(this).text(data3[i]);
        i++;
      });

  }

  function refresh4(data4){
        var i=0;
        $(".refresh4").each(function(){
          $(this).text(data4[i]);
          i++;
        });

    }

  function refresh5(data5){
    $(".refresh5_1").text(data5[0]);
    $(".refresh5_2").text(data5[1]);
    $(".refresh5_3").text(data5[2]);
    $(".refresh5_4").text(data5[3]);
    $(".refresh5_5").text(data5[4]);
  }

  function refresh6(data6){
    $(".refresh6").text(data6[0]);
  }


</script>