<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
  <Author>IEUser</Author>
  <LastAuthor>IEUser</LastAuthor>
  <LastPrinted>2015-08-22T06:05:41Z</LastPrinted>
  <Created>2015-08-22T05:29:29Z</Created>
  <LastSaved>2015-08-22T06:05:43Z</LastSaved>
  <Version>11.9999</Version>
 </DocumentProperties>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>12105</WindowHeight>
  <WindowWidth>28035</WindowWidth>
  <WindowTopX>9600</WindowTopX>
  <WindowTopY>435</WindowTopY>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Center"/>
   <Borders/>
   <Font ss:FontName="宋体" x:CharSet="134" ss:Size="12"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s16" ss:Name="Normal_Timesheet">
   <Font x:Family="Swiss"/>
  </Style>
  <Style ss:ID="m54603096">
   <Alignment ss:Horizontal="Left" ss:Vertical="Top"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
  </Style>
  <Style ss:ID="m54603106">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="8"/>
   <NumberFormat/>
  </Style>
  <Style ss:ID="m54602924">
   <Alignment ss:Horizontal="Left" ss:Vertical="Top"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="m54602934">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="m54602944">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="m54602954">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="m54602772">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="12"/>
   <NumberFormat ss:Format="Short Date"/>
  </Style>
  <Style ss:ID="m54602782">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="m54602792">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="m54602802">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
  </Style>
  <Style ss:ID="m54598504">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
  </Style>
  <Style ss:ID="m54598514">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="14"/>
  </Style>
  <Style ss:ID="m54598524">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="m54598534">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="m54598544">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="m54598554" ss:Parent="s16">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="8"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s22" ss:Parent="s16">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="9"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s24" ss:Parent="s16">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="8"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s25" ss:Parent="s16">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="8"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s26" ss:Parent="s16">
   <Alignment ss:Horizontal="Right" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="9"/>
   <NumberFormat ss:Format="0.0"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s27">
   <Alignment ss:Vertical="Top"/>
   <Font x:Family="Swiss"/>
  </Style>
  <Style ss:ID="s29">
   <Alignment ss:Vertical="Top"/>
   <Font x:Family="Swiss"/>
   <Interior/>
  </Style>
  <Style ss:ID="s30">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="s31">
   <Alignment ss:Vertical="Top"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
  </Style>
  <Style ss:ID="s32">
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="s33">
   <Alignment ss:Vertical="Top"/>
   <Borders/>
   <Font x:Family="Swiss" ss:Size="6"/>
  </Style>
  <Style ss:ID="s34">
   <Alignment ss:Horizontal="CenterAcrossSelection" ss:Vertical="Top"/>
   <Font x:Family="Swiss" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s35">
   <Alignment ss:Horizontal="CenterAcrossSelection" ss:Vertical="Top"/>
   <Font x:Family="Swiss"/>
  </Style>
  <Style ss:ID="s36">
   <Alignment ss:Vertical="Bottom"/>
   <Font x:Family="Swiss"/>
  </Style>
  <Style ss:ID="s37">
   <Alignment ss:Vertical="Top"/>
   <Borders/>
   <Font x:Family="Swiss"/>
  </Style>
  <Style ss:ID="s38">
   <Alignment ss:Vertical="Bottom"/>
   <Font x:Family="Swiss" ss:Size="7"/>
  </Style>
  <Style ss:ID="s39">
   <Alignment ss:Vertical="Top"/>
   <Font x:Family="Swiss" ss:Size="7"/>
  </Style>
  <Style ss:ID="s40">
   <Alignment ss:Vertical="Bottom"/>
   <Font x:Family="Swiss" ss:Size="5"/>
  </Style>
  <Style ss:ID="s41">
   <Alignment ss:Vertical="Top"/>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="s42">
   <Alignment ss:Horizontal="Justify" ss:Vertical="Top"/>
   <Borders/>
   <Font x:Family="Swiss" ss:Size="6"/>
  </Style>
  <Style ss:ID="s43">
   <Alignment ss:Vertical="Top"/>
   <Borders/>
   <Font x:Family="Swiss" ss:Size="7"/>
  </Style>
  <Style ss:ID="s44">
   <Alignment ss:Horizontal="Justify" ss:Vertical="Top"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="6"/>
  </Style>
  <Style ss:ID="s45">
   <Alignment ss:Vertical="Top"/>
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
  </Style>
  <Style ss:ID="s46">
   <Alignment ss:Vertical="Top"/>
   <Borders>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
  </Style>
  <Style ss:ID="s47">
   <Alignment ss:Horizontal="Justify" ss:Vertical="Top"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="6"/>
  </Style>
  <Style ss:ID="s48">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="8" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s49">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="6" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s50">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="9" ss:Bold="1"/>
   <Interior ss:Color="#000000" ss:Pattern="Solid"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s51">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Font x:Family="Swiss" ss:Size="8" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s52">
   <Alignment ss:Vertical="Center"/>
   <Font x:Family="Swiss"/>
   <Interior/>
  </Style>
  <Style ss:ID="s53">
   <Borders/>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="s54">
   <Alignment ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s55">
   <Alignment ss:Horizontal="Right" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="9"/>
   <NumberFormat ss:Format="0.0"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s56">
   <Alignment ss:Horizontal="Right" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="9"/>
   <NumberFormat ss:Format="0.0"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s57">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Font x:Family="Swiss" ss:Color="#FFFFFF"/>
   <NumberFormat ss:Format="0.0"/>
  </Style>
  <Style ss:ID="s58">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Font x:Family="Swiss" ss:Color="#FFFFFF"/>
   <Interior/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s59">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s60">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s61">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Double" ss:Weight="3"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s62">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="8"/>
   <NumberFormat ss:Format="_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;_);_(@_)"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s63">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <NumberFormat ss:Format="_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;_);_(@_)"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s64">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s65">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s66">
   <Alignment ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s67">
   <Alignment ss:Horizontal="Right" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="9"/>
   <NumberFormat ss:Format="0.0"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s68">
   <Alignment ss:Horizontal="Right" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="9"/>
   <NumberFormat ss:Format="0.0"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s69">
   <Alignment ss:Horizontal="Right" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="9"/>
   <NumberFormat ss:Format="0.0"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s70">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s71">
   <Alignment ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="8"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s72">
   <Alignment ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="8"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s73">
   <Alignment ss:Horizontal="Right" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="9"/>
   <NumberFormat ss:Format="0.0"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s74">
   <Alignment ss:Horizontal="Right" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="9"/>
   <NumberFormat ss:Format="0.0"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s75">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s76">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s77">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Double" ss:Weight="3"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s78">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <NumberFormat ss:Format="_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;_);_(@_)"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s79">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection ss:Protected="0"/>
  </Style>
  <Style ss:ID="s80">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="8" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s81">
   <Alignment ss:Horizontal="Right" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="9"/>
   <NumberFormat ss:Format="0.0"/>
  </Style>
  <Style ss:ID="s82">
   <Alignment ss:Horizontal="Right" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="9"/>
   <NumberFormat ss:Format="0.0"/>
  </Style>
  <Style ss:ID="s83">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Font x:Family="Swiss"/>
   <Interior/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s84">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s85">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s86">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Double" ss:Weight="3"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s87">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <NumberFormat ss:Format="_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;_);_(@_)"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s88">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <NumberFormat ss:Format="_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;_);_(@_)"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s89">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <NumberFormat ss:Format="_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;_);_(@_)"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s90">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <NumberFormat ss:Format="_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;_);_(@_)"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s91">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="6" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s92">
   <Alignment ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="6"/>
  </Style>
  <Style ss:ID="s93">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="8" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s94">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s95">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s96">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Double" ss:Weight="3"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s97">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <NumberFormat ss:Format="_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;_);_(@_)"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s98">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <NumberFormat ss:Format="_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;_);_(@_)"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s99">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <NumberFormat ss:Format="_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;_);_(@_)"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s100">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <NumberFormat ss:Format="_(* #,##0_);_(* \(#,##0\);_(* &quot;-&quot;_);_(@_)"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s101">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="6" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s102">
   <Alignment ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="6"/>
  </Style>
  <Style ss:ID="s104">
   <Alignment ss:Vertical="Bottom"/>
   <Font x:Family="Swiss" ss:Size="18"/>
  </Style>
  <Style ss:ID="s105">
   <Alignment ss:Vertical="Top"/>
   <Font x:Family="Swiss" ss:Size="28"/>
  </Style>
  <Style ss:ID="s131">
   <Alignment ss:Vertical="Top"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
  </Style>
  <Style ss:ID="s132">
   <Borders>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="s133">
   <Alignment ss:Horizontal="CenterAcrossSelection" ss:Vertical="Top"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s134">
   <Alignment ss:Horizontal="CenterAcrossSelection" ss:Vertical="Top"/>
   <Borders/>
   <Font x:Family="Swiss" ss:Size="12"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s135">
   <Alignment ss:Horizontal="CenterAcrossSelection" ss:Vertical="Top"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s136">
   <Alignment ss:Horizontal="CenterAcrossSelection" ss:Vertical="Top"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="12"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s137">
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="s138">
   <Alignment ss:Vertical="Top"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="s139">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center"/>
   <Borders/>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="s140">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center"/>
   <Font x:Family="Swiss" ss:Size="12"/>
  </Style>
  <Style ss:ID="s153" ss:Parent="s16">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="8"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s154" ss:Parent="s16">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="8"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s155" ss:Parent="s16">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="8"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s156" ss:Parent="s16">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="2"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous"/>
   </Borders>
   <Font x:Family="Swiss" ss:Size="8"/>
   <Protection x:HideFormula="1"/>
  </Style>
  <Style ss:ID="s206">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Font x:Family="Swiss" ss:Size="18"/>
  </Style>
  <Style ss:ID="s207">
   <Alignment ss:Horizontal="Center" ss:Vertical="Top"/>
   <Font x:Family="Swiss" ss:Size="28"/>
  </Style>
 </Styles>
 <Worksheet ss:Name="Sheet1">
  <Table ss:ExpandedColumnCount="30" ss:ExpandedRowCount="43" x:FullColumns="1"
   x:FullRows="1" ss:DefaultColumnWidth="54" ss:DefaultRowHeight="14.25">
   <Column ss:AutoFitWidth="0" ss:Width="124.5"/>
   <Column ss:AutoFitWidth="0" ss:Width="25.5" ss:Span="16"/>
   <Column ss:Index="19" ss:AutoFitWidth="0" ss:Width="18"/>
   <Column ss:Hidden="1" ss:AutoFitWidth="0"/>
   <Column ss:AutoFitWidth="0" ss:Width="10.5" ss:Span="3"/>
   <Column ss:Index="25" ss:AutoFitWidth="0" ss:Width="36" ss:Span="3"/>
   <Column ss:Index="29" ss:AutoFitWidth="0" ss:Width="71.25"/>
   <Column ss:AutoFitWidth="0" ss:Width="52.5"/>
   <Row ss:AutoFitHeight="0" ss:Height="27">
    <Cell ss:MergeAcross="3" ss:MergeDown="1" ss:StyleID="m54603096"><Data
      ss:Type="String">(1) Employee signature and statement</Data></Cell>
    <Cell ss:StyleID="s104"/>
    <Cell ss:MergeAcross="12" ss:StyleID="s206"><ss:Data ss:Type="String"
      xmlns="http://www.w3.org/TR/REC-html40">Time and Expense Report <Font
       html:Size="14">(F-102)</Font></ss:Data></Cell>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s29"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s37"/>
    <Cell ss:StyleID="s53"/>
    <Cell ss:StyleID="s37"/>
    <Cell ss:StyleID="s27"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="13.5">
    <Cell ss:Index="5" ss:StyleID="s105"/>
    <Cell ss:MergeAcross="12" ss:MergeDown="2" ss:StyleID="s207"><Data
      ss:Type="String">ThinkBridge</Data></Cell>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s29"/>
    <Cell ss:MergeAcross="5" ss:MergeDown="1" ss:StyleID="m54602934"><Data
      ss:Type="String">(4) Period End Date</Data></Cell>
    <Cell ss:StyleID="s139"/>
    <Cell ss:MergeAcross="1" ss:MergeDown="1" ss:StyleID="m54602772"><Data
      ss:Type="DateTime"><%= @report.period.ending_date.to_date %></Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m54602802"><Data ss:Type="String">(3)  Page&#10;1 of 1</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="13.5">
    <Cell ss:StyleID="s33"/>
    <Cell ss:StyleID="s33"/>
    <Cell ss:StyleID="s34"/>
    <Cell ss:StyleID="s105"/>
    <Cell ss:StyleID="s105"/>
    <Cell ss:Index="19" ss:StyleID="s35"/>
    <Cell ss:StyleID="s29"/>
    <Cell ss:Index="27" ss:StyleID="s140"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="13.5">
    <Cell ss:MergeAcross="3" ss:MergeDown="5" ss:StyleID="m54603106"><Data
      ss:Type="String">By signing this time report you are affirming the following statement: &quot;I am familiar with the provisions of the firm's Book, Ethical Standards, regarding professional ethics, including specifically independence, and have complied with those provisions as they relate to any of the clients involved in any engagements included in this time report and in all respects.&quot;</Data></Cell>
    <Cell ss:StyleID="s105"/>
    <Cell ss:Index="19" ss:StyleID="s35"/>
    <Cell ss:StyleID="s29"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s32"/>
    <Cell ss:StyleID="s32"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="13.5">
    <Cell ss:Index="5" ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s29"/>
    <Cell ss:MergeAcross="5" ss:MergeDown="1" ss:StyleID="m54602944"><Data
      ss:Type="String">(2) Employee Name</Data></Cell>
    <Cell ss:StyleID="s140"/>
    <Cell ss:MergeAcross="1" ss:MergeDown="1" ss:StyleID="m54602782"><Data
      ss:Type="String"><%= @report.user.english_name %></Data></Cell>
    <Cell ss:StyleID="s32"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="13.5">
    <Cell ss:Index="5" ss:StyleID="s32"/>
    <Cell ss:MergeAcross="4" ss:MergeDown="3" ss:StyleID="m54602924"><Data
      ss:Type="String">Approved</Data></Cell>
    <Cell ss:StyleID="s27"/>
    <Cell ss:Index="14" ss:StyleID="s138"><Data ss:Type="String">Chargeable Hours</Data></Cell>
    <Cell ss:StyleID="s45"/>
    <Cell ss:StyleID="s45"/>
    <Cell ss:StyleID="s45"/>
    <Cell ss:StyleID="s46"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s29"/>
    <Cell ss:Index="27" ss:StyleID="s140"/>
    <Cell ss:Index="30" ss:StyleID="s39"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="13.5">
    <Cell ss:Index="5" ss:StyleID="s32"/>
    <Cell ss:Index="11" ss:StyleID="s27"/>
    <Cell ss:Index="14" ss:StyleID="s131"/>
    <Cell ss:StyleID="s37"/>
    <Cell ss:StyleID="s37"/>
    <Cell ss:StyleID="s53"/>
    <Cell ss:StyleID="s132"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s29"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s140"/>
    <Cell ss:StyleID="s40"/>
    <Cell ss:StyleID="s40"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="13.5">
    <Cell ss:Index="5" ss:StyleID="s32"/>
    <Cell ss:Index="11" ss:StyleID="s41"/>
    <Cell ss:Index="14" ss:StyleID="s133"/>
    <Cell ss:StyleID="s37"/>
    <Cell ss:StyleID="s134"
     ss:Formula="=IF(SUM(R[7]C[4]:R[33]C[4])&lt;&gt;0,SUM(R[7]C[4]:R[33]C[4]),0)"><Data
      ss:Type="Number">0</Data></Cell>
    <Cell ss:StyleID="s53"/>
    <Cell ss:StyleID="s132"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s29"/>
    <Cell ss:MergeAcross="5" ss:MergeDown="1" ss:StyleID="m54602954"><Data
      ss:Type="String">(5) Personnel Number</Data></Cell>
    <Cell ss:StyleID="s140"/>
    <Cell ss:MergeAcross="1" ss:MergeDown="1" ss:StyleID="m54602792"><Data
      ss:Type="String"><%= @report.user.employee_number %></Data></Cell>
    <Cell ss:StyleID="s36"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="13.5">
    <Cell ss:Index="5" ss:StyleID="s32"/>
    <Cell ss:Index="11" ss:StyleID="s41"/>
    <Cell ss:Index="14" ss:StyleID="s135"/>
    <Cell ss:StyleID="s31"/>
    <Cell ss:StyleID="s136"/>
    <Cell ss:StyleID="s30"/>
    <Cell ss:StyleID="s137"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s29"/>
    <Cell ss:Index="27" ss:StyleID="s140"/>
    <Cell ss:Index="30" ss:StyleID="s36"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="13.5">
    <Cell ss:StyleID="s42"/>
    <Cell ss:StyleID="s42"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s37"/>
    <Cell ss:StyleID="s37"/>
    <Cell ss:StyleID="s37"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s32"/>
    <Cell ss:StyleID="s32"/>
    <Cell ss:StyleID="s32"/>
    <Cell ss:StyleID="s32"/>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s29"/>
    <Cell ss:StyleID="s38"/>
    <Cell ss:StyleID="s38"/>
    <Cell ss:StyleID="s38"/>
    <Cell ss:StyleID="s38"/>
    <Cell ss:StyleID="s38"/>
    <Cell ss:StyleID="s38"/>
    <Cell ss:StyleID="s38"/>
    <Cell ss:StyleID="s32"/>
    <Cell ss:StyleID="s43"/>
    <Cell ss:StyleID="s43"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="12.75">
    <Cell ss:StyleID="s44"/>
    <Cell ss:MergeAcross="16" ss:MergeDown="1" ss:StyleID="m54598514"><Data
      ss:Type="String">(7) Time Distribution for Period</Data></Cell>
    <Cell ss:StyleID="s27"/>
    <Cell ss:StyleID="s29"/>
    <Cell ss:MergeAcross="3" ss:MergeDown="3" ss:StyleID="m54598524"><Data
      ss:Type="String">(8) &#10;Total &#10;Hours</Data></Cell>
    <Cell ss:MergeAcross="3" ss:MergeDown="1" ss:StyleID="m54598534"><Data
      ss:Type="String">(9) Exp RMB</Data></Cell>
    <Cell ss:MergeDown="3" ss:StyleID="m54598544"><Data ss:Type="String">(10) Job/Project &#10;Number</Data></Cell>
    <Cell ss:MergeDown="3" ss:StyleID="m54598504"><Data ss:Type="String">(11) PM Approval</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="12.75">
    <Cell ss:StyleID="s47"/>
    <Cell ss:Index="19" ss:StyleID="s27"/>
    <Cell ss:StyleID="s29"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="12.75">
    <Cell ss:StyleID="s48"><Data ss:Type="String">(6) Client Name and</Data></Cell>
    <Cell ss:StyleID="s49"/>
    <% @first_half_month.each do |day| %>
      <Cell ss:StyleID="s22"><Data ss:Type="String"><%= day %></Data></Cell>
    <% end %>
    <Cell ss:StyleID="s50"><Data ss:Type="String" x:Ticked="1">-</Data></Cell>
    <Cell ss:StyleID="s51"/>
    <Cell ss:StyleID="s52"/>
    <Cell ss:Index="25" ss:MergeAcross="1" ss:StyleID="m54598554"><Data
      ss:Type="String">Meal Allowance</Data></Cell>
    <Cell ss:StyleID="s154"><Data ss:Type="String">Traveling</Data></Cell>
    <Cell ss:StyleID="s155"><Data ss:Type="String">Total</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="12.75">
    <Cell ss:StyleID="s48"><Data ss:Type="String">Description of Work</Data></Cell>
    <Cell ss:StyleID="s49"><Data ss:Type="String">ADJ</Data></Cell>
    <% @second_half_month.each do |day| %>
      <Cell ss:StyleID="s22"><Data ss:Type="String"><%= day %></Data></Cell>
    <% end %>
    <Cell ss:StyleID="s51"/>
    <Cell ss:StyleID="s52"/>
    <Cell ss:Index="25" ss:StyleID="s153"><Data ss:Type="String">RMB20</Data></Cell>
    <Cell ss:StyleID="s25"><Data ss:Type="String">RMB120</Data></Cell>
    <Cell ss:StyleID="s24"><Data ss:Type="String">Expenses</Data></Cell>
    <Cell ss:StyleID="s156"><Data ss:Type="String">Expenses</Data></Cell>
   </Row>
   <% @projects.each do |project| %>
    <Row ss:AutoFitHeight="0" ss:Height="12.75">
     <Cell ss:StyleID="s66"><Data ss:Type="String"><%= truncate(project.client.english_name, length: 20) %></Data></Cell>
    <% personalcharge = project.personalcharges.find_by(
                             user_id: @report.user_id, 
                             charge_date:  nil, 
                             period_id: @report.period_id) %>
    <% if personalcharge && personalcharge.hours != 0 %>
      <Cell ss:StyleID="s67"><Data ss:Type="Number"><%= personalcharge.hours %></Data></Cell>
    <% else %>
      <Cell ss:StyleID="s67"/>                        
    <% end %>
     
     <% @column_date_array.each  do |per_day| %>
       <% personalcharge = project.personalcharges.find_by(
                             user_id: @report.user_id, 
                             charge_date:  per_day, 
                             period_id: @report.period_id) %>
       <% if personalcharge && personalcharge.hours != 0 %>
          <Cell ss:StyleID="s67"><Data ss:Type="Number"><%= personalcharge.hours %></Data></Cell>
       <% else %>
         <Cell ss:StyleID="s67"/>
       <% end %>
     <% end %>
     <% @balance_days.times do %>
       <Cell ss:StyleID="s67"/>
     <% end %>
     <Cell ss:StyleID="s57" ss:Formula="=SUM(RC[-17]:RC[-1])"><Data ss:Type="Number">0</Data></Cell>
     <Cell ss:StyleID="s58"
      ss:Formula="=IF(ISERROR(LEFT(RC[9],1)*1),SUM(RC[-18]:RC[-2]),&quot;&quot;)"><Data
       ss:Type="String"></Data></Cell>
     <Cell ss:StyleID="s59"
      ss:Formula="=IF(RC[-2]&gt;=100,MOD(RC[-2]/100,10)-RC[1]/10-RC[2]/100-RC[3]/1000,IF(RC[-2]&lt;0,&quot;-&quot;,&quot;&quot;))"><Data
       ss:Type="String"></Data></Cell>
     <Cell ss:StyleID="s60"
      ss:Formula="=IF(RC[-3]&gt;=10,MOD(RC[-3]/10,10)-RC[1]/10-RC[2]/100,IF(RC[-3]&lt;0,MOD(ABS(RC[-3])/10,10)-RC[1]/10-RC[2]/100,&quot;&quot;))"><Data
       ss:Type="String"></Data></Cell>
     <Cell ss:StyleID="s60"
      ss:Formula="=IF(RC[-4]&gt;0,MOD(RC[-4],10)-RC[1]/10,IF(RC[-4]&lt;0,MOD(ABS(RC[-4]),10),&quot;&quot;))"><Data
       ss:Type="String"></Data></Cell>
     <Cell ss:StyleID="s61" ss:Formula="=IF(RC[-5],MOD(RC[-5]*10,10),&quot;&quot;)"><Data
       ss:Type="String"></Data></Cell>
      <% pc = project.personalcharges.find_by(user_id: @report.user_id, period_id: @report.period_id) %>
     <Cell ss:StyleID="s62"><Data ss:Type="Number"><%= pc.meal_allowance if pc %></Data></Cell>
     <Cell ss:StyleID="s62"><Data ss:Type="Number"><%= pc.travel_allowance if pc %></Data></Cell>
     <Cell ss:StyleID="s62"><Data ss:Type="Number"><%= pc.reimbursement if pc %></Data></Cell>
     <Cell ss:StyleID="s63" ss:Formula="=SUM(RC[-3]:RC[-1])"><Data ss:Type="Number">0</Data></Cell>
     <Cell ss:StyleID="s64"><Data ss:Type="String"><%= project.job_code %></Data></Cell>
     <Cell ss:StyleID="s65"/>
    </Row>
    <% end %>
  <% (20 - @projects.count).times do %>
    <Row ss:AutoFitHeight="0" ss:Height="12.75">
      <Cell ss:StyleID="s66"/>
      <% 17.times do %>
        <Cell ss:StyleID="s67"/>  
      <% end %>
     <Cell ss:StyleID="s57" ss:Formula="=SUM(RC[-17]:RC[-1])"><Data ss:Type="Number">0</Data></Cell>
     <Cell ss:StyleID="s58"
      ss:Formula="=IF(ISERROR(LEFT(RC[9],1)*1),SUM(RC[-18]:RC[-2]),&quot;&quot;)"><Data
       ss:Type="String"></Data></Cell>
     <Cell ss:StyleID="s59"
      ss:Formula="=IF(RC[-2]&gt;=100,MOD(RC[-2]/100,10)-RC[1]/10-RC[2]/100-RC[3]/1000,IF(RC[-2]&lt;0,&quot;-&quot;,&quot;&quot;))"><Data
       ss:Type="String"></Data></Cell>
     <Cell ss:StyleID="s60"
      ss:Formula="=IF(RC[-3]&gt;=10,MOD(RC[-3]/10,10)-RC[1]/10-RC[2]/100,IF(RC[-3]&lt;0,MOD(ABS(RC[-3])/10,10)-RC[1]/10-RC[2]/100,&quot;&quot;))"><Data
       ss:Type="String"></Data></Cell>
     <Cell ss:StyleID="s60"
      ss:Formula="=IF(RC[-4]&gt;0,MOD(RC[-4],10)-RC[1]/10,IF(RC[-4]&lt;0,MOD(ABS(RC[-4]),10),&quot;&quot;))"><Data
       ss:Type="String"></Data></Cell>
     <Cell ss:StyleID="s61" ss:Formula="=IF(RC[-5],MOD(RC[-5]*10,10),&quot;&quot;)"><Data
       ss:Type="String"></Data></Cell>
     <Cell ss:StyleID="s62"/>
     <Cell ss:StyleID="s62"/>
     <Cell ss:StyleID="s62"/>
     <Cell ss:StyleID="s63" ss:Formula="=SUM(RC[-3]:RC[-1])"><Data ss:Type="Number">0</Data></Cell>
     <Cell ss:StyleID="s64"/>
     <Cell ss:StyleID="s65"/>
    </Row>
 <% end %>

 <% Report.additional_items.each do |key, value| %>
  <Row>
   <Cell ss:StyleID="s66"><Data ss:Type="String"><%= key %></Data></Cell>
   <% personalcharge = Project.find_by_job_code(value).personalcharges.find_by(
                                user_id: @report.user_id, 
                                charge_date:  nil, 
                                period_id: @report.period_id) %>
       <% if personalcharge && personalcharge.hours != 0 %>
         <Cell ss:StyleID="s67"><Data ss:Type="Number"><%= personalcharge.hours %></Data></Cell>
       <% else %>
         <Cell ss:StyleID="s67"/>                        
       <% end %>
   <% @column_date_array.each do |per_day| %>
     <% personalcharge = Project.find_by_job_code(value).personalcharges.find_by(
             user_id: @report.user_id,  
             charge_date:  per_day, 
             period_id: @report.period_id
             ) %>
     <% if personalcharge && personalcharge.hours != 0 %>
        <Cell ss:StyleID="s67"><Data ss:Type="Number"><%= personalcharge.hours %></Data></Cell>
     <% else %>
       <Cell ss:StyleID="s67"/>
     <% end %>
   <% end %>
    <% @balance_days.times do %>
      <Cell ss:StyleID="s67"/>
    <% end %>
     <Cell ss:StyleID="s57" ss:Formula="=SUM(RC[-17]:RC[-1])"><Data ss:Type="Number">0</Data></Cell>
     <Cell ss:StyleID="s58"
      ss:Formula="=IF(ISERROR(LEFT(RC[9],1)*1),SUM(RC[-18]:RC[-2]),&quot;&quot;)"><Data
       ss:Type="String"></Data></Cell>
     <Cell ss:StyleID="s59"
      ss:Formula="=IF(RC[-2]&gt;=100,MOD(RC[-2]/100,10)-RC[1]/10-RC[2]/100-RC[3]/1000,IF(RC[-2]&lt;0,&quot;-&quot;,&quot;&quot;))"><Data
       ss:Type="String"></Data></Cell>
     <Cell ss:StyleID="s60"
      ss:Formula="=IF(RC[-3]&gt;=10,MOD(RC[-3]/10,10)-RC[1]/10-RC[2]/100,IF(RC[-3]&lt;0,MOD(ABS(RC[-3])/10,10)-RC[1]/10-RC[2]/100,&quot;&quot;))"><Data
       ss:Type="String"></Data></Cell>
     <Cell ss:StyleID="s60"
      ss:Formula="=IF(RC[-4]&gt;0,MOD(RC[-4],10)-RC[1]/10,IF(RC[-4]&lt;0,MOD(ABS(RC[-4]),10),&quot;&quot;))"><Data
       ss:Type="String"></Data></Cell>
     <Cell ss:StyleID="s61" ss:Formula="=IF(RC[-5],MOD(RC[-5]*10,10),&quot;&quot;)"><Data
       ss:Type="String"></Data></Cell>
     <% pc = Project.find_by_job_code(value).personalcharges.find_by(user_id: @report.user_id, period_id: @report.period_id) %>
     <Cell ss:StyleID="s62"><Data ss:Type="Number"><%= pc.meal_allowance if pc %></Data></Cell>
     <Cell ss:StyleID="s62"><Data ss:Type="Number"><%= pc.travel_allowance if pc %></Data></Cell>
     <Cell ss:StyleID="s62"><Data ss:Type="Number"><%= pc.reimbursement if pc %></Data></Cell>
     <Cell ss:StyleID="s63" ss:Formula="=SUM(RC[-3]:RC[-1])"><Data ss:Type="Number">0</Data></Cell>
     <Cell ss:StyleID="s64"><Data ss:Type="String"><%= value %></Data></Cell>
     <Cell ss:StyleID="s65"/>
   </Row>
 <% end %>

   <Row ss:AutoFitHeight="0" ss:Height="12.75">
    <Cell ss:StyleID="s80"><ss:Data ss:Type="String"
      xmlns="http://www.w3.org/TR/REC-html40"><B>(12) <Font html:Size="7">TOTAL HOURS (Including overtime)</Font></B></ss:Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s81"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s82"
     ss:Formula="=IF(SUM(R[-27]C:R[-1]C)=0,&quot;&quot;,SUM(R[-27]C:R[-1]C))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s57" ss:Formula="=SUM(RC[-17]:RC[-1])"><Data ss:Type="Number">0</Data></Cell>
    <Cell ss:StyleID="s83"/>
    <Cell ss:StyleID="s84"
     ss:Formula="=IF(RC[-2]&gt;=100,MOD(RC[-2]/100,10)-RC[1]/10-RC[2]/100-RC[3]/1000,IF(RC[-2]&lt;0,&quot;-&quot;,&quot;&quot;))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s85"
     ss:Formula="=IF(RC[-3]&gt;=10,MOD(RC[-3]/10,10)-RC[1]/10-RC[2]/100,IF(RC[-3]&lt;0,MOD(ABS(RC[-3])/10,10)-RC[1]/10-RC[2]/100,&quot;&quot;))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s85"
     ss:Formula="=IF(RC[-4]&gt;0,MOD(RC[-4],10)-RC[1]/10,IF(RC[-4]&lt;0,MOD(ABS(RC[-4]),10),&quot;&quot;))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s86" ss:Formula="=IF(RC[-5],MOD(RC[-5]*10,10),&quot;&quot;)"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s87" ss:Formula="=SUM(R[-27]C:R[-1]C)"><Data ss:Type="Number">0</Data></Cell>
    <Cell ss:StyleID="s88" ss:Formula="=SUM(R[-27]C:R[-1]C)"><Data ss:Type="Number">0</Data></Cell>
    <Cell ss:StyleID="s89" ss:Formula="=SUM(R[-27]C:R[-1]C)"><Data ss:Type="Number">0</Data></Cell>
    <Cell ss:StyleID="s90" ss:Formula="=SUM(R[-27]C:R[-1]C)"><Data ss:Type="Number">0</Data></Cell>
    <Cell ss:StyleID="s91"><Data ss:Type="String">Period time and expense</Data></Cell>
    <Cell ss:StyleID="s92"/>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="12.75">
    <Cell ss:StyleID="s93"><Data ss:Type="String">(13) OVERTIME</Data></Cell>
    <Cell ss:StyleID="s26" ss:Formula="=R[-1]C"><Data ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s26"
     ss:Formula="IF(R[-1]C=&quot;&quot;,&quot;&quot;,IF(OR(R[-1]C=&quot;&quot;,R[-1]C&lt;=0),&quot;&quot;,IF(R[-30]C&lt;&gt;&quot;-&quot;,IF(LEFT(R[-30]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)),IF(LEFT(R[-29]C,1)=&quot;[&quot;,R[-1]C,IF(R[-1]C&lt;=8,&quot;&quot;,R[-1]C-8)))))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s57" ss:Formula="=SUM(RC[-17]:RC[-1])"><Data ss:Type="Number">0</Data></Cell>
    <Cell ss:StyleID="s83"/>
    <Cell ss:StyleID="s94"
     ss:Formula="=IF(RC[-2]&gt;=100,MOD(RC[-2]/100,10)-RC[1]/10-RC[2]/100-RC[3]/1000,IF(RC[-2]&lt;0,&quot;-&quot;,&quot;&quot;))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s95"
     ss:Formula="=IF(RC[-3]&gt;=10,MOD(RC[-3]/10,10)-RC[1]/10-RC[2]/100,IF(RC[-3]&lt;0,MOD(ABS(RC[-3])/10,10)-RC[1]/10-RC[2]/100,&quot;&quot;))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s95"
     ss:Formula="=IF(RC[-4]&gt;0,MOD(RC[-4],10)-RC[1]/10,IF(RC[-4]&lt;0,MOD(ABS(RC[-4]),10),&quot;&quot;))"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s96" ss:Formula="=IF(RC[-5],MOD(RC[-5]*10,10),&quot;&quot;)"><Data
      ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s97"/>
    <Cell ss:StyleID="s98"/>
    <Cell ss:StyleID="s99"/>
    <Cell ss:StyleID="s100"/>
    <Cell ss:StyleID="s101"><Data ss:Type="String">Expense balance</Data></Cell>
    <Cell ss:StyleID="s102"/>
   </Row>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Layout x:Orientation="Landscape"/>
   </PageSetup>
   <Print>
    <ValidPrinterInfo/>
    <PaperSizeIndex>9</PaperSizeIndex>
    <Scale>77</Scale>
    <HorizontalResolution>200</HorizontalResolution>
    <VerticalResolution>200</VerticalResolution>
   </Print>
   <Zoom>80</Zoom>
   <PageBreakZoom>100</PageBreakZoom>
   <Selected/>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>30</ActiveRow>
     <ActiveCol>24</ActiveCol>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
 </Worksheet>
</Workbook>