<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t('home'), login_users_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if session[:user_id] %>
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if params[:controller] == 'personalcharges' %>"><%= link_to t('TimeReport'), personalcharges_url %></li>
          <li class="<%= 'active' if params[:controller] == 'billings' || params[:controller] == 'receive_amounts' %>"><%= link_to t('billings'), billings_path %></li>
          <li class="<%= 'active' if params[:controller] == 'expenses' %>"><%= link_to t('expenses'), expenses_url %></li>
          <li class="<%= 'active' if params[:controller] == 'clients' %>"><%= link_to t('clients'), clients_path %></li>
          <li class="<%= 'active' if params[:controller] == 'reports' %>"><%= link_to t('reports'), reports_path %></li>
          <li class="<%= 'active' if params[:controller] == 'projects' %>"><%= link_to t('projects'), projects_url %></li>
          <li class="<%= 'active' if params[:controller] == 'initialfees_url' %>"><%= link_to t('initialfees'), initialfees_url %></li>
          <li class="<%= 'active' if params[:controller] == 'deductions' %>"><%= link_to t('deductions'), deductions_url %></li>
          <li class="<%= 'active' if params[:controller] == 'people' %>"><%= link_to t('people'), people_url %></li>
          <li class="<%= 'active' if params[:controller] == 'ufafees' %>"><%= link_to t('ufafees'), ufafees_url %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('Peferences') %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="<%= 'active' if params[:controller] == 'dicts' %>"><%= link_to t('dicts'), dicts_path %></li>
              <li class="<%= 'active' if params[:controller] == 'industries' %>"><%= link_to t('industries'), industries_path %></li>
              <li class="<%= 'active' if params[:controller] == 'prj_expense_logs' %>"><%= link_to t('prj_expense_logs'), prj_expense_logs_url %></li>
              <li class="<%= 'active' if params[:controller] == 'periods' %>"><%= link_to t('periods'), periods_path %></li>
              <li class="<%= 'active' if params[:controller] == 'users' %>"><%= link_to 'user&password', users_path %></li>
              <li><a href="/login/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>