<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t('home'), root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if params[:controller] == 'personalcharges' %>"><%= link_to t('personalcharge'), personalcharges_url %></li>
          <li class="<%= 'active' if params[:controller] == 'billings' || params[:controller] == 'receive_amounts' %>"><%= link_to t('billing'), billings_path %></li>
          <li class="<%= 'active' if params[:controller] == 'expenses' %>"><%= link_to t('expense'), expenses_url %></li>
          <li class="<%= 'active' if params[:controller] == 'clients' %>"><%= link_to t('client'), clients_path %></li>
          <li class="<%= 'active' if params[:controller] == 'reports' %>"><%= link_to t('time_report'), reports_path %></li>
          <li class="<%= 'active' if params[:controller] == 'time_reports' %>"><%= link_to t('report'), time_reports_path %></li>
          <li class="<%= 'active' if params[:controller] == 'projects' %>"><%= link_to t('project'), projects_url %></li>
          <li class="<%= 'active' if params[:controller] == 'ufafees' %>"><%= link_to t('ufafee'), ufafees_url %></li>
          <li class="<%= 'active' if params[:controller] == 'people' %>"><%= link_to t('person'), people_url %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('Peferences') %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="<%= 'active' if params[:controller] == 'dicts' %>"><%= link_to t('dict'), dicts_path %></li>
              <li class="<%= 'active' if params[:controller] == 'industries' %>"><%= link_to t('industry'), industries_path %></li>
              <li class="<%= 'active' if params[:controller] == 'periods' %>"><%= link_to t('period'), periods_path %></li>
              <li class="<%= 'active' if params[:controller] == 'users' %>"><%= link_to t('user'), users_path %></li>
              <li class="<%= 'active' if params[:controller] == 'contacts' %>"><%= link_to t('contact'), contacts_url %></li>
            </ul>
          </li>
          <li><%= link_to t('edit'), edit_user_registration_path %></li>
          <li><%= link_to t('logout'), destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t('signup'), new_user_registration_path %></li>
          <li><%= link_to t('signin'), new_user_session_path %></li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>